In [47]:
import pandas as pd
import glob

In [48]:
df = pd.read_csv('Apple_March1.csv',encoding='latin-1') #header=None, names=['Date_time', 'Tweets'])
#df['Date'] = df['Date_time']

In [49]:
df.head()

,Date_Time,Date,Tweets
0,3/25/2019 23:59,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...
1,3/25/2019 23:59,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...
2,3/25/2019 23:58,3/25/2019,$AAPL unveils its long-awaited streaming servi...
3,3/25/2019 23:57,3/25/2019,$aapl so called credit card is just another mi...
4,3/25/2019 23:57,3/25/2019,#AppleEvent We are entering every high margin ...

In [50]:
df = df.drop(["Date_Time"], axis=1)

In [51]:
df.head()

        Date                                             Tweets
0  3/25/2019  Join @RobinhoodApp and we'll both get a stock ...
1  3/25/2019  Traders Buy Shares of Apple $AAPL on Weakness ...
2  3/25/2019  $AAPL unveils its long-awaited streaming servi...
3  3/25/2019  $aapl so called credit card is just another mi...
4  3/25/2019  #AppleEvent We are entering every high margin ...

In [52]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [53]:
# Removing all punctuations
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', ' ', text)
    return text

df['Tweet_punct'] = df['Tweets'].apply(lambda x: remove_punct(x))
df.head(20)

,Date,Tweets,Tweet_punct
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...
5,3/25/2019,OPRAH AND APPLE - Great Combo - Who Is Going T...,OPRAH AND APPLE Great Combo Who Is Going To ...
6,3/25/2019,$GS $AAPL Apple and Goldman Join Forces to Lau...,GS AAPL Apple and Goldman Join Forces to Launc...
7,3/25/2019,Investors Buy Shares of Apple $AAPL on Weaknes...,Investors Buy Shares of Apple AAPL on Weakness...
8,3/25/2019,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...
9,3/25/2019,$AAPL So Apple announces AppleCard. Only thing...,AAPL So Apple announces AppleCard Only thing w...
10,3/25/2019,@sssvenky Innovation is one of the branches. F...,sssvenky Innovation is one of the branches For...
11,3/25/2019,@WaitCapital The cleverly pumped it to salvage...,WaitCapital The cleverly pumped it to salvage ...
12,3/25/2019,BREAKING: $aapl beginning new dollar menu to c...,BREAKING aapl beginning new dollar menu to com...
13,3/25/2019,@HedgeyeComm @ballmatthew @RichBTIG @JacobIden...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...
14,3/25/2019,$boeing 737 MAX Graveyard\n$aapl $amzn $agn $b...,boeing MAX Graveyard\naapl amzn agn brk bhc ...
15,3/25/2019,great angle by @chrissyfarr on todayÕs #AppleC...,great angle by chrissyfarr on todayÕs AppleCar...
16,3/25/2019,I wonder who had more live viewer engagement $...,I wonder who had more live viewer engagement T...
17,3/25/2019,$AAPL Again repeat ... Zero innovation... All ...,AAPL Again repeat Zero innovation All catchup...
18,3/25/2019,Watch what happened at 9:23 in @NaviAvatar1's ...,Watch what happened at in NaviAvatar s broad...
19,3/25/2019,Is apple card &amp; tv game changer? Is this t...,Is apple card amp tv game changer Is this the ...

In [54]:
# removing newline or \n expressions.
df["Tweet_nonewline"] = [tweet.replace('\n'," ").strip() for tweet in df["Tweet_punct"]]
df.head(20)

,Date,Tweets,Tweet_punct,Tweet_nonewline
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...
5,3/25/2019,OPRAH AND APPLE - Great Combo - Who Is Going T...,OPRAH AND APPLE Great Combo Who Is Going To ...,OPRAH AND APPLE Great Combo Who Is Going To ...
6,3/25/2019,$GS $AAPL Apple and Goldman Join Forces to Lau...,GS AAPL Apple and Goldman Join Forces to Launc...,GS AAPL Apple and Goldman Join Forces to Launc...
7,3/25/2019,Investors Buy Shares of Apple $AAPL on Weaknes...,Investors Buy Shares of Apple AAPL on Weakness...,Investors Buy Shares of Apple AAPL on Weakness...
8,3/25/2019,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...
9,3/25/2019,$AAPL So Apple announces AppleCard. Only thing...,AAPL So Apple announces AppleCard Only thing w...,AAPL So Apple announces AppleCard Only thing w...
10,3/25/2019,@sssvenky Innovation is one of the branches. F...,sssvenky Innovation is one of the branches For...,sssvenky Innovation is one of the branches For...
11,3/25/2019,@WaitCapital The cleverly pumped it to salvage...,WaitCapital The cleverly pumped it to salvage ...,WaitCapital The cleverly pumped it to salvage ...
12,3/25/2019,BREAKING: $aapl beginning new dollar menu to c...,BREAKING aapl beginning new dollar menu to com...,BREAKING aapl beginning new dollar menu to com...
13,3/25/2019,@HedgeyeComm @ballmatthew @RichBTIG @JacobIden...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...
14,3/25/2019,$boeing 737 MAX Graveyard\n$aapl $amzn $agn $b...,boeing MAX Graveyard\naapl amzn agn brk bhc ...,boeing MAX Graveyard aapl amzn agn brk bhc c...
15,3/25/2019,great angle by @chrissyfarr on todayÕs #AppleC...,great angle by chrissyfarr on todayÕs AppleCar...,great angle by chrissyfarr on todayÕs AppleCar...
16,3/25/2019,I wonder who had more live viewer engagement $...,I wonder who had more live viewer engagement T...,I wonder who had more live viewer engagement T...
17,3/25/2019,$AAPL Again repeat ... Zero innovation... All ...,AAPL Again repeat Zero innovation All catchup...,AAPL Again repeat Zero innovation All catchup...
18,3/25/2019,Watch what happened at 9:23 in @NaviAvatar1's ...,Watch what happened at in NaviAvatar s broad...,Watch what happened at in NaviAvatar s broad...
19,3/25/2019,Is apple card &amp; tv game changer? Is this t...,Is apple card amp tv game changer Is this the ...,Is apple card amp tv game changer Is this the ...

In [55]:
# Removing http url from every tweet substitued with space
df["Tweet_wohttp"] = [re.sub(r"http\S+", " ", text) for text in df["Tweet_nonewline"]]
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...

In [56]:
# Removing numbers
df["Tweet_nonum"] = [re.sub("\d+", " ", text) for text in df["Tweet_wohttp"]]
df.head(20)

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...
5,3/25/2019,OPRAH AND APPLE - Great Combo - Who Is Going T...,OPRAH AND APPLE Great Combo Who Is Going To ...,OPRAH AND APPLE Great Combo Who Is Going To ...,OPRAH AND APPLE Great Combo Who Is Going To ...,OPRAH AND APPLE Great Combo Who Is Going To ...
6,3/25/2019,$GS $AAPL Apple and Goldman Join Forces to Lau...,GS AAPL Apple and Goldman Join Forces to Launc...,GS AAPL Apple and Goldman Join Forces to Launc...,GS AAPL Apple and Goldman Join Forces to Launc...,GS AAPL Apple and Goldman Join Forces to Launc...
7,3/25/2019,Investors Buy Shares of Apple $AAPL on Weaknes...,Investors Buy Shares of Apple AAPL on Weakness...,Investors Buy Shares of Apple AAPL on Weakness...,Investors Buy Shares of Apple AAPL on Weakness,Investors Buy Shares of Apple AAPL on Weakness
8,3/25/2019,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...,The Apple Card is AppleÕs thinnest and lightes...
9,3/25/2019,$AAPL So Apple announces AppleCard. Only thing...,AAPL So Apple announces AppleCard Only thing w...,AAPL So Apple announces AppleCard Only thing w...,AAPL So Apple announces AppleCard Only thing w...,AAPL So Apple announces AppleCard Only thing w...
10,3/25/2019,@sssvenky Innovation is one of the branches. F...,sssvenky Innovation is one of the branches For...,sssvenky Innovation is one of the branches For...,sssvenky Innovation is one of the branches For...,sssvenky Innovation is one of the branches For...
11,3/25/2019,@WaitCapital The cleverly pumped it to salvage...,WaitCapital The cleverly pumped it to salvage ...,WaitCapital The cleverly pumped it to salvage ...,WaitCapital The cleverly pumped it to salvage ...,WaitCapital The cleverly pumped it to salvage ...
12,3/25/2019,BREAKING: $aapl beginning new dollar menu to c...,BREAKING aapl beginning new dollar menu to com...,BREAKING aapl beginning new dollar menu to com...,BREAKING aapl beginning new dollar menu to com...,BREAKING aapl beginning new dollar menu to com...
13,3/25/2019,@HedgeyeComm @ballmatthew @RichBTIG @JacobIden...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...,HedgeyeComm ballmatthew RichBTIG JacobIden Var...
14,3/25/2019,$boeing 737 MAX Graveyard\n$aapl $amzn $agn $b...,boeing MAX Graveyard\naapl amzn agn brk bhc ...,boeing MAX Graveyard aapl amzn agn brk bhc c...,boeing MAX Graveyard aapl amzn agn brk bhc c...,boeing MAX Graveyard aapl amzn agn brk bhc c...
15,3/25/2019,great angle by @chrissyfarr on todayÕs #AppleC...,great angle by chrissyfarr on todayÕs AppleCar...,great angle by chrissyfarr on todayÕs AppleCar...,great angle by chrissyfarr on todayÕs AppleCar...,great angle by chrissyfarr on todayÕs AppleCar...
16,3/25/2019,I wonder who had more live viewer engagement $...,I wonder who had more live viewer engagement T...,I wonder who had more live viewer engagement T...,I wonder who had more live viewer engagement T...,I wonder who had more live viewer engagement T...
17,3/25/2019,$AAPL Again repeat ... Zero innovation... All ...,AAPL Again repeat Zero innovation All catchup...,AAPL Again repeat Zero innovation All catchup...,AAPL Again repeat Zero innovation All catchup...,AAPL Again repeat Zero innovation All catchup...
18,3/25/2019,Watch what happened at 9:23 in @NaviAvatar1's ...,Watch what happened at in NaviAvatar s broad...,Watch what happened at in NaviAvatar s broad...,Watch what happened at in NaviAvatar s broad...,Watch what happened at in NaviAvatar s broad...
19,3/25/2019,Is apple card &amp; tv game changer? Is this t...,Is apple card amp tv game changer Is this the ...,Is apple card amp tv game changer Is this the ...,Is apple card amp tv game changer Is this the ...,Is apple card amp tv game changer Is this the ...

In [57]:
df["Tweet_noascii"] = [re.sub(r'[^\x00-\x7F]+',' ', text) for text in df["Tweet_nonum"]]
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...

In [58]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

df['Tweet_tokenized'] = df['Tweet_noascii'].apply(lambda x: tokenization(x.lower()))
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ..."
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,"[traders, buy, shares, of, apple, aapl, on, we..."
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,"[aapl, unveils, its, longawaited, streaming, s..."
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,"[aapl, so, called, credit, card, is, just, ano..."
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,"[appleevent, we, are, entering, every, high, m..."

In [59]:
import nltk
nltk.download('wordnet')
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word, pos="v") for word in text]
    return text

df['Tweet_lemmatized'] = df['Tweet_tokenized'].apply(lambda x: lemmatizer(x))
df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized,Tweet_lemmatized
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ..."
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,"[traders, buy, shares, of, apple, aapl, on, we...","[traders, buy, share, of, apple, aapl, on, wea..."
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,"[aapl, unveils, its, longawaited, streaming, s...","[aapl, unveil, its, longawaited, stream, servi..."
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,"[aapl, so, called, credit, card, is, just, ano...","[aapl, so, call, credit, card, be, just, anoth..."
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,"[appleevent, we, are, entering, every, high, m...","[appleevent, we, be, enter, every, high, margi..."

In [60]:
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [61]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
    
df['Tweet_nonstop'] = df['Tweet_lemmatized'].apply(lambda x: remove_stopwords(x))
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized,Tweet_lemmatized,Tweet_nonstop
0,3/25/2019,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, well, get, stock, like, a..."
1,3/25/2019,Traders Buy Shares of Apple $AAPL on Weakness ...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness h...,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,Traders Buy Shares of Apple AAPL on Weakness pl,"[traders, buy, shares, of, apple, aapl, on, we...","[traders, buy, share, of, apple, aapl, on, wea...","[traders, buy, share, apple, aapl, weakness, pl]"
2,3/25/2019,$AAPL unveils its long-awaited streaming servi...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,AAPL unveils its longawaited streaming service...,"[aapl, unveils, its, longawaited, streaming, s...","[aapl, unveil, its, longawaited, stream, servi...","[aapl, unveil, longawaited, stream, service, a..."
3,3/25/2019,$aapl so called credit card is just another mi...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,aapl so called credit card is just another mid...,"[aapl, so, called, credit, card, is, just, ano...","[aapl, so, call, credit, card, be, just, anoth...","[aapl, call, credit, card, another, middle, ma..."
4,3/25/2019,#AppleEvent We are entering every high margin ...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,AppleEvent We are entering every high margin b...,"[appleevent, we, are, entering, every, high, m...","[appleevent, we, be, enter, every, high, margi...","[appleevent, enter, every, high, margin, busin..."

In [62]:
#### REMOVE WHITESPACES

In [63]:
Apple_Data_Tweets = df.drop(["Tweets","Tweet_punct","Tweet_nonewline","Tweet_wohttp","Tweet_nonum","Tweet_noascii","Tweet_tokenized","Tweet_lemmatized"], axis=1)

In [64]:
Apple_Data_Tweets.head()

        Date                                      Tweet_nonstop
0  3/25/2019  [join, robinhoodapp, well, get, stock, like, a...
1  3/25/2019   [traders, buy, share, apple, aapl, weakness, pl]
2  3/25/2019  [aapl, unveil, longawaited, stream, service, a...
3  3/25/2019  [aapl, call, credit, card, another, middle, ma...
4  3/25/2019  [appleevent, enter, every, high, margin, busin...

In [65]:
Apple_Data_Tweets['Month']=[d.split('/')[0] for d in Apple_Data_Tweets.Date]
Apple_Data_Tweets['Day']=[d.split('/')[1] for d in Apple_Data_Tweets.Date]
Apple_Data_Tweets['Year']=[d.split('/')[2] for d in Apple_Data_Tweets.Date]

In [66]:
Apple_Data_Tweets.head()

,Date,Tweet_nonstop,Month,Day,Year
0,3/25/2019,"[join, robinhoodapp, well, get, stock, like, a...",3,25,2019
1,3/25/2019,"[traders, buy, share, apple, aapl, weakness, pl]",3,25,2019
2,3/25/2019,"[aapl, unveil, longawaited, stream, service, a...",3,25,2019
3,3/25/2019,"[aapl, call, credit, card, another, middle, ma...",3,25,2019
4,3/25/2019,"[appleevent, enter, every, high, margin, busin...",3,25,2019

In [67]:
Apple_Data_Tweets = Apple_Data_Tweets.drop(['Date','Year'],axis=1)

In [68]:
Apple_Data_Tweets.head()

                                       Tweet_nonstop Month Day
0  [join, robinhoodapp, well, get, stock, like, a...     3  25
1   [traders, buy, share, apple, aapl, weakness, pl]     3  25
2  [aapl, unveil, longawaited, stream, service, a...     3  25
3  [aapl, call, credit, card, another, middle, ma...     3  25
4  [appleevent, enter, every, high, margin, busin...     3  25

In [69]:
final_dataset_Tweets = pd.DataFrame(data=None, index=None,columns=['Month','Day','Tweet_nonstop'])

In [70]:
final_dataset_Tweets = Apple_Data_Tweets.groupby(['Month', 'Day'])['Tweet_nonstop'].apply(list).reset_index()

In [71]:
final_dataset_Tweets.head()

  Month Day                                      Tweet_nonstop
0     3  14  [[aapl, patent, automate, capture, image, data...
1     3  16  [[brokerages, set, apple, inc, aapl, price, ta...
2     3  17  [[join, robinhoodapp, well, get, stock, like, ...
3     3  18  [[watch, happen, naviavatar, broadcast, dow, a...
4     3  19  [[de, dis, mcd, nice, aapl, chk, swks, swn, ho...

In [72]:
def ltod(a):
    dic={}
    for i in range(len(a)):
        for j in a[i]:
            if j in dic:
                dic[j]+=1
            else:
                dic[j]=1
    return dic

In [73]:
final_dataset_Tweets['Tweet_nonstop']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: ltod(x))

In [74]:
final_dataset_Tweets.head()

  Month Day                                      Tweet_nonstop
0     3  14  {'aapl': 740, 'patent': 52, 'automate': 1, 'ca...
1     3  16  {'brokerages': 2, 'set': 2, 'apple': 126, 'inc...
2     3  17  {'join': 206, 'robinhoodapp': 202, 'well': 212...
3     3  18  {'watch': 34, 'happen': 3, 'naviavatar': 2, 'b...
4     3  19  {'de': 3, 'dis': 24, 'mcd': 1, 'nice': 9, 'aap...

In [75]:
with open('positive_words.txt') as f:
    pos_lines = f.read().splitlines()
len(pos_lines)

2005

In [76]:
with open('negative_words.txt') as f:
    neg_lines = f.read().splitlines()
len(neg_lines)

4781

In [77]:
def pos_parity(x):
    pos_count=0
    total = sum(x.values())
    for i in pos_lines:
        if i in x:
            pos_count+=x[i]
    return float(pos_count/total)

In [78]:
def neg_parity(x):
    neg_count=0
    for i in neg_lines:
        if i in x:
            neg_count+=x[i]
    return float(neg_count/(sum(x.values())))

In [79]:
final_dataset_Tweets['pos_parity']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: pos_parity(x))

In [80]:
final_dataset_Tweets['neg_parity']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: neg_parity(x))

In [81]:
final_dataset_Tweets.head(20)

,Month,Day,Tweet_nonstop,pos_parity,neg_parity
0,3,14,"{'aapl': 740, 'patent': 52, 'automate': 1, 'ca...",0.062987,0.021614
1,3,16,"{'brokerages': 2, 'set': 2, 'apple': 126, 'inc...",0.071666,0.020785
2,3,17,"{'join': 206, 'robinhoodapp': 202, 'well': 212...",0.078668,0.021075
3,3,18,"{'watch': 34, 'happen': 3, 'naviavatar': 2, 'b...",0.064713,0.019743
4,3,19,"{'de': 3, 'dis': 24, 'mcd': 1, 'nice': 9, 'aap...",0.076768,0.019804
5,3,20,"{'join': 173, 'robinhoodapp': 162, 'well': 171...",0.073075,0.016703
6,3,21,"{'jeffvandenburgh': 1, 'still': 34, 'place': 5...",0.064421,0.021638
7,3,22,"{'bravotrader': 1, 'algorithms': 1, 'scar': 2,...",0.058980,0.026105
8,3,23,"{'powerserious': 2, 'clown': 1, 'must': 2, 'du...",0.078267,0.016360
9,3,24,"{'join': 61, 'robinhoodapp': 60, 'well': 63, '...",0.056389,0.021434
10,3,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959
11,3,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813
12,3,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247
13,3,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436

In [82]:
new_df_Tweets = final_dataset_Tweets.drop(["Tweet_nonstop","Month","Day"], axis=1)
final_dataset_Tweets['Day'] = final_dataset_Tweets['Day'].astype(int)
final_dataset_Tweets['Month'] = final_dataset_Tweets['Month'].astype(int)
new_df_Tweets

    pos_parity  neg_parity
0     0.062987    0.021614
1     0.071666    0.020785
2     0.078668    0.021075
3     0.064713    0.019743
4     0.076768    0.019804
5     0.073075    0.016703
6     0.064421    0.021638
7     0.058980    0.026105
8     0.078267    0.016360
9     0.056389    0.021434
10    0.047246    0.030959
11    0.053721    0.031813
12    0.051641    0.030247
13    0.047278    0.029436

In [83]:
def mmdd_feature(x,y):
    s=x+x/y
    return float(s)

In [84]:
new_df_Tweets['date_feature']= (final_dataset_Tweets['Month']+final_dataset_Tweets['Day'])/final_dataset_Tweets['Month']

In [85]:
new_df_Tweets

    pos_parity  neg_parity  date_feature
0     0.062987    0.021614      5.666667
1     0.071666    0.020785      6.333333
2     0.078668    0.021075      6.666667
3     0.064713    0.019743      7.000000
4     0.076768    0.019804      7.333333
5     0.073075    0.016703      7.666667
6     0.064421    0.021638      8.000000
7     0.058980    0.026105      8.333333
8     0.078267    0.016360      8.666667
9     0.056389    0.021434      9.000000
10    0.047246    0.030959      9.333333
11    0.053721    0.031813      9.666667
12    0.051641    0.030247     10.000000
13    0.047278    0.029436     10.333333

In [86]:
# ADD FEATURES FOR THE ML MODEL
# add change in stock prices


# combine date_feature and stock prices to signify change in particular date
# decide a threshold for all brands and then mention if impact of these brands have been affected by twitter and news kind of like yes/no table or inc/dec table
# calculate popularity of brands based on pos and neg counts using Naive Bayes prob.

### NEWS SENTIMENT ANALYSIS

In [87]:
df1 = pd.read_csv('C:/Users/SAHAJ/Desktop/DATA-SCIENCE PROJECT/APPLE_DATA/AAPL.csv',encoding='utf=8') #header=None, names=['Date_time', 'Tweets'])
#df['Date'] = df['Date_time']

In [88]:
df1.head()

        Date                                               AAPL
0  3/28/2019                        top etf picks for your ira
1  3/28/2019               what is facebooks revenue breakdown
2  3/28/2019      apples troubles escalate rare apology issued
3  3/28/2019  buffett says apple content plan hard to predic...
4  3/28/2019  interesting changes afoot at apple mcdonalds a...

In [89]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [90]:
# Removing all punctuations
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', ' ', text)
    return text

df1['AAPL_punct'] = df1['AAPL'].apply(lambda x: remove_punct(x))
df1.head(10)

,Date,AAPL,AAPL_punct
0,3/28/2019,top etf picks for your ira,top etf picks for your ira
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...
5,3/28/2019,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...
6,3/28/2019,sony shifting smartphone production from china...,sony shifting smartphone production from china...
7,3/28/2019,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...
8,3/28/2019,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...
9,3/28/2019,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...

In [92]:
# removing newline or \n expressions.
df1["AAPL_nonewline"] = [tweet.replace('\n'," ").strip() for tweet in df1["AAPL_punct"]]
df1.head(20)

,Date,AAPL,AAPL_punct,AAPL_nonewline
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...
5,3/28/2019,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...
6,3/28/2019,sony shifting smartphone production from china...,sony shifting smartphone production from china...,sony shifting smartphone production from china...
7,3/28/2019,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...
8,3/28/2019,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...
9,3/28/2019,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...
10,3/28/2019,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple
11,3/28/2019,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...
12,3/28/2019,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...
13,3/28/2019,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...
14,3/27/2019,stocks settle choppy session lower,stocks settle choppy session lower,stocks settle choppy session lower
15,3/27/2019,technology sector update for 03272019 amrcntwk...,technology sector update for amrcntwkaaplqco...,technology sector update for amrcntwkaaplqco...
16,3/27/2019,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...
17,3/27/2019,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...
18,3/27/2019,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...
19,3/27/2019,technology sector update for 03272019 ntwkaapl...,technology sector update for ntwkaaplqcomrpd,technology sector update for ntwkaaplqcomrpd

In [93]:
#Removing http url from every tweet substitued with space
df1["AAPL_wohttp"] = [re.sub(r"http\S+", " ", text) for text in df1["AAPL_nonewline"]]
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...

In [94]:
# Removing numbers
df1["AAPL_nonum"] = [re.sub("\d+", " ", text) for text in df1["AAPL_wohttp"]]
df1.head(20)

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...
5,3/28/2019,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...,apple brings watch with ecg app amp afib featu...
6,3/28/2019,sony shifting smartphone production from china...,sony shifting smartphone production from china...,sony shifting smartphone production from china...,sony shifting smartphone production from china...,sony shifting smartphone production from china...
7,3/28/2019,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...,lululemon stock is near its all time high dont...
8,3/28/2019,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...,the zacks analyst blog highlights alphabet app...
9,3/28/2019,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...,dont let the gimmicky apple card turn you away...
10,3/28/2019,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple,thursdays vital data centene netflix and apple
11,3/28/2019,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...,should i buy best buy stock after the oppenhei...
12,3/28/2019,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...,sony to close smartphone plant in china to cut...
13,3/28/2019,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...,sony to close smartphone plant in china shift ...
14,3/27/2019,stocks settle choppy session lower,stocks settle choppy session lower,stocks settle choppy session lower,stocks settle choppy session lower,stocks settle choppy session lower
15,3/27/2019,technology sector update for 03272019 amrcntwk...,technology sector update for amrcntwkaaplqco...,technology sector update for amrcntwkaaplqco...,technology sector update for amrcntwkaaplqco...,technology sector update for amrcntwkaaplqco...
16,3/27/2019,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...,wellcare acquisition brings more managed care ...
17,3/27/2019,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...,wednesday apple rumors apple pay expanding to ...
18,3/27/2019,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...,lyft raises ipo price target as investor fret ...
19,3/27/2019,technology sector update for 03272019 ntwkaapl...,technology sector update for ntwkaaplqcomrpd,technology sector update for ntwkaaplqcomrpd,technology sector update for ntwkaaplqcomrpd,technology sector update for ntwkaaplqcomrpd

In [95]:
df1["AAPL_noascii"] = [re.sub(r'[^\x00-\x7F]+',' ', text) for text in df1["AAPL_nonum"]]
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...

In [96]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

df1['AAPL_tokenized'] = df1['AAPL_noascii'].apply(lambda x: tokenization(x.lower()))
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,"[top, etf, picks, for, your, ira]"
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,"[what, is, facebooks, revenue, breakdown]"
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,"[apples, troubles, escalate, rare, apology, is..."
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,"[buffett, says, apple, content, plan, hard, to..."
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,"[interesting, changes, afoot, at, apple, mcdon..."

In [97]:
import nltk
nltk.download('wordnet')
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word, pos="v") for word in text]
    return text

df1['AAPL_lemmatized'] = df1['AAPL_tokenized'].apply(lambda x: lemmatizer(x))
df1.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized,AAPL_lemmatized
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,"[top, etf, picks, for, your, ira]","[top, etf, pick, for, your, ira]"
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,"[what, is, facebooks, revenue, breakdown]","[what, be, facebooks, revenue, breakdown]"
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,"[apples, troubles, escalate, rare, apology, is...","[apples, trouble, escalate, rare, apology, issue]"
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,"[buffett, says, apple, content, plan, hard, to...","[buffett, say, apple, content, plan, hard, to,..."
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,"[interesting, changes, afoot, at, apple, mcdon...","[interest, change, afoot, at, apple, mcdonalds..."

In [98]:
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [100]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
    
df1['AAPL_nonstop'] = df1['AAPL_lemmatized'].apply(lambda x: remove_stopwords(x))
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized,AAPL_lemmatized,AAPL_nonstop
0,3/28/2019,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,top etf picks for your ira,"[top, etf, picks, for, your, ira]","[top, etf, pick, for, your, ira]","[top, etf, pick, ira]"
1,3/28/2019,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,what is facebooks revenue breakdown,"[what, is, facebooks, revenue, breakdown]","[what, be, facebooks, revenue, breakdown]","[facebooks, revenue, breakdown]"
2,3/28/2019,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,apples troubles escalate rare apology issued,"[apples, troubles, escalate, rare, apology, is...","[apples, trouble, escalate, rare, apology, issue]","[apples, trouble, escalate, rare, apology, issue]"
3,3/28/2019,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,buffett says apple content plan hard to predic...,"[buffett, says, apple, content, plan, hard, to...","[buffett, say, apple, content, plan, hard, to,...","[buffett, say, apple, content, plan, hard, pre..."
4,3/28/2019,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,interesting changes afoot at apple mcdonalds a...,"[interesting, changes, afoot, at, apple, mcdon...","[interest, change, afoot, at, apple, mcdonalds...","[interest, change, afoot, apple, mcdonalds, ma..."

In [101]:
Apple_Data_News = df1.drop(["AAPL","AAPL_punct","AAPL_nonewline","AAPL_wohttp","AAPL_nonum","AAPL_noascii","AAPL_tokenized","AAPL_lemmatized"], axis=1)

In [102]:
Apple_Data_News.head()

        Date                                       AAPL_nonstop
0  3/28/2019                              [top, etf, pick, ira]
1  3/28/2019                    [facebooks, revenue, breakdown]
2  3/28/2019  [apples, trouble, escalate, rare, apology, issue]
3  3/28/2019  [buffett, say, apple, content, plan, hard, pre...
4  3/28/2019  [interest, change, afoot, apple, mcdonalds, ma...

In [104]:
Apple_Data_News['Month']=[d.split('/')[0] for d in Apple_Data_News.Date]
Apple_Data_News['Day']=[d.split('/')[1] for d in Apple_Data_News.Date]
Apple_Data_News['Year']=[d.split('/')[2] for d in Apple_Data_News.Date]

In [105]:
Apple_Data_News.head()

,Date,AAPL_nonstop,Month,Day,Year
0,3/28/2019,"[top, etf, pick, ira]",3,28,2019
1,3/28/2019,"[facebooks, revenue, breakdown]",3,28,2019
2,3/28/2019,"[apples, trouble, escalate, rare, apology, issue]",3,28,2019
3,3/28/2019,"[buffett, say, apple, content, plan, hard, pre...",3,28,2019
4,3/28/2019,"[interest, change, afoot, apple, mcdonalds, ma...",3,28,2019

In [106]:
Apple_Data_News = Apple_Data_News.drop(['Date','Year'],axis=1)
Apple_Data_News.head()

                                        AAPL_nonstop Month Day
0                              [top, etf, pick, ira]     3  28
1                    [facebooks, revenue, breakdown]     3  28
2  [apples, trouble, escalate, rare, apology, issue]     3  28
3  [buffett, say, apple, content, plan, hard, pre...     3  28
4  [interest, change, afoot, apple, mcdonalds, ma...     3  28

In [107]:
final_dataset_News = pd.DataFrame(data=None, index=None,columns=['Month','Day','AAPL_nonstop'])

In [108]:
final_dataset_News = Apple_Data_News.groupby(['Month', 'Day'])['AAPL_nonstop'].apply(list).reset_index()

In [109]:
final_dataset_News.head()

  Month Day                                       AAPL_nonstop
0     2  28  [[stock, drop, manage, monthly, gain], [hours,...
1     3   1  [[hours, active, mar, abev, ge, xom, pfe, ar, ...
2     3  10  [[reason, buy, fitbit, stock, dip], [tech, gia...
3     3  11  [[market, close, report, nasdaq, composite, in...
4     3  12  [[market, close, report, nasdaq, composite, in...

In [ ]:
#### APPLIED LIST TO DICT USING THE FUNCTION ABOVE

In [110]:
final_dataset_News['AAPL_nonstop']=final_dataset_News['AAPL_nonstop'].apply(lambda x: ltod(x))

In [111]:
final_dataset_News.head()

  Month Day                                       AAPL_nonstop
0     2  28  {'stock': 2, 'drop': 1, 'manage': 1, 'monthly'...
1     3   1  {'hours': 1, 'active': 1, 'mar': 1, 'abev': 1,...
2     3  10  {'reason': 1, 'buy': 3, 'fitbit': 1, 'stock': ...
3     3  11  {'market': 3, 'close': 3, 'report': 1, 'nasdaq...
4     3  12  {'market': 2, 'close': 2, 'report': 1, 'nasdaq...

In [ ]:
#### USING POSITIVE.TXT AND NEGATIVE.TXT ###################### NEEDS TO BE MODIFIED FOR THE NEWS AS WELL.

In [113]:
final_dataset_News['pos_parity']=final_dataset_News['AAPL_nonstop'].apply(lambda x: pos_parity(x))

In [114]:
final_dataset_News['neg_parity']=final_dataset_News['AAPL_nonstop'].apply(lambda x: neg_parity(x))

In [116]:
final_dataset_News

,Month,Day,AAPL_nonstop,pos_parity,neg_parity
0,2,28,"{'stock': 2, 'drop': 1, 'manage': 1, 'monthly'...",0.058824,0.000000
1,3,1,"{'hours': 1, 'active': 1, 'mar': 1, 'abev': 1,...",0.031496,0.094488
2,3,10,"{'reason': 1, 'buy': 3, 'fitbit': 1, 'stock': ...",0.125000,0.000000
3,3,11,"{'market': 3, 'close': 3, 'report': 1, 'nasdaq...",0.039877,0.058282
4,3,12,"{'market': 2, 'close': 2, 'report': 1, 'nasdaq...",0.038911,0.066148
5,3,13,"{'expect': 1, 'oracle': 1, 'earn': 1, 'orcl': ...",0.048544,0.053398
6,3,14,"{'sp': 3, 'nasdaq': 1, 'snap': 5, 'win': 1, 's...",0.031690,0.056338
7,3,15,"{'trade': 3, 'tech': 4, 'spark': 1, 'risk': 1,...",0.076433,0.038217
8,3,16,"{'battle': 1, 'dividends': 1, 'apple': 2, 'vs'...",0.000000,0.071429
9,3,17,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000
10,3,18,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765
11,3,19,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077
12,3,2,"{'fitbit': 1, 'stock': 1, 'earn': 1, 'refute':...",0.000000,0.142857
13,3,20,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259
14,3,21,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149
15,3,22,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419
16,3,23,"{'walmart': 1, 'dive': 1, 'deeper': 1, 'consum...",0.000000,0.000000
17,3,24,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.038462,0.153846
18,3,25,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561
19,3,26,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938
20,3,27,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677
21,3,28,"{'top': 1, 'etf': 1, 'pick': 1, 'ira': 1, 'fac...",0.020202,0.060606
22,3,3,"{'apple': 1, 'goldman': 1, 'credit': 1, 'card'...",0.066667,0.000000
23,3,4,"{'hours': 1, 'active': 1, 'mar': 1, 'lthm': 1,...",0.048000,0.024000
24,3,5,"{'tuesday': 1, 'apple': 4, 'rumor': 1, 'g': 1,...",0.096491,0.035088
25,3,6,"{'hours': 1, 'active': 1, 'mar': 1, 'ge': 1, '...",0.020979,0.027972
26,3,7,"{'nike': 1, 'nke': 1, 'q': 2, 'earn': 2, 'prev...",0.055556,0.055556
27,3,8,"{'smart': 2, 'beta': 1, 'amp': 1, 'factor': 1,...",0.011429,0.125714
28,3,9,"{'top': 1, 'dow': 1, 'stock': 1, 'year': 1, 'b...",0.153846,0.076923

In [117]:
new_df_News= final_dataset_News.drop(["AAPL_nonstop","Month","Day"], axis=1)
final_dataset_News['Day'] = final_dataset_News['Day'].astype(int)
final_dataset_News['Month'] = final_dataset_News['Month'].astype(int)
new_df_News

    pos_parity  neg_parity
0     0.058824    0.000000
1     0.031496    0.094488
2     0.125000    0.000000
3     0.039877    0.058282
4     0.038911    0.066148
5     0.048544    0.053398
6     0.031690    0.056338
7     0.076433    0.038217
8     0.000000    0.071429
9     0.166667    0.000000
10    0.018382    0.036765
11    0.038462    0.048077
12    0.000000    0.142857
13    0.014815    0.059259
14    0.052486    0.033149
15    0.027907    0.074419
16    0.000000    0.000000
17    0.038462    0.153846
18    0.018717    0.085561
19    0.037534    0.050938
20    0.019900    0.064677
21    0.020202    0.060606
22    0.066667    0.000000
23    0.048000    0.024000
24    0.096491    0.035088
25    0.020979    0.027972
26    0.055556    0.055556
27    0.011429    0.125714
28    0.153846    0.076923