In [388]:
import pandas as pd
import glob

In [389]:
df = pd.read_csv('C:/Users/SAHAJ/Desktop/DATA-SCIENCE PROJECT/APPLE_DATA/Apple_New.csv',encoding='latin-1') #header=None, names=['Date_time', 'Tweets'])
#df['Date'] = df['Date_time']

In [390]:
df.head()

,Date_Time,Date,Tweets
0,2019-03-16 23:59:00,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...
1,2019-03-16 23:51:38,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...
2,2019-03-16 23:51:37,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...
3,2019-03-16 23:47:48,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...
4,2019-03-16 23:44:06,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...

In [391]:
df = df.drop(["Date_Time"], axis=1)

In [392]:
df.head()

         Date                                             Tweets
0  2019-03-16  @MelaynaLokosky @WintonCapPtnrs So does this m...
1  2019-03-16  Brokerages Set Apple Inc. $AAPL Price Target a...
2  2019-03-16  Brokerages Set Apple Inc. $AAPL Target Price a...
3  2019-03-16  Join @RobinhoodApp and we'll both get a stock ...
4  2019-03-16  Join @RobinhoodApp and we'll both get a stock ...

In [393]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [394]:
# Removing all punctuations
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', ' ', text)
    return text

df['Tweet_punct'] = df['Tweets'].apply(lambda x: remove_punct(x))
df.head(20)

,Date,Tweets,Tweet_punct
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...
5,2019-03-16,Study study study. Saturday night and I choose...,Study study study Saturday night and I choose ...
6,2019-03-16,@jonnajarian @petenajarian pass this along to ...,jonnajarian petenajarian pass this along to St...
7,2019-03-16,Q1 Earnings Season Gets Underway $AZO $NKE $AA...,Q Earnings Season Gets Underway AZO NKE AAPL ...
8,2019-03-16,$AAPL $FXCOF - Hey 'Tim Apple' - Watch Foxconn...,AAPL FXCOF Hey Tim Apple Watch Foxconn https...
9,2019-03-16,Apple $AAPL Now Covered by Cowen https://t.co/...,Apple AAPL Now Covered by Cowen httpstcoPAFBMm...
10,2019-03-16,Cowen Begins Coverage on Apple $AAPL https://...,Cowen Begins Coverage on Apple AAPL httpstco ...
11,2019-03-16,__#AAPL Money Magnet example was for $AAPL Pr...,AAPL Money Magnet example was for AAPL Price ...
12,2019-03-16,Patience Paid Off with this $AAPL #Swingtrade!...,Patience Paid Off with this AAPL Swingtrade Ch...
13,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...
14,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...
15,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...
16,2019-03-16,Breaking insight: Apple $AAPL watch cannot scr...,Breaking insight Apple AAPL watch cannot scree...
17,2019-03-16,$AAPL https://t.co/IphGExWbLS\nAlmost to 190. ...,AAPL httpstcoIphGExWbLS\nAlmost to That was ...
18,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...
19,2019-03-16,$SPY https://t.co/qdxGOge8mX\nThat was a fun w...,SPY httpstcoqdxGOge mX\nThat was a fun week Wi...

In [395]:
# removing newline or \n expressions.
df["Tweet_nonewline"] = [tweet.replace('\n'," ").strip() for tweet in df["Tweet_punct"]]
df.head(20)

,Date,Tweets,Tweet_punct,Tweet_nonewline
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
5,2019-03-16,Study study study. Saturday night and I choose...,Study study study Saturday night and I choose ...,Study study study Saturday night and I choose ...
6,2019-03-16,@jonnajarian @petenajarian pass this along to ...,jonnajarian petenajarian pass this along to St...,jonnajarian petenajarian pass this along to St...
7,2019-03-16,Q1 Earnings Season Gets Underway $AZO $NKE $AA...,Q Earnings Season Gets Underway AZO NKE AAPL ...,Q Earnings Season Gets Underway AZO NKE AAPL ...
8,2019-03-16,$AAPL $FXCOF - Hey 'Tim Apple' - Watch Foxconn...,AAPL FXCOF Hey Tim Apple Watch Foxconn https...,AAPL FXCOF Hey Tim Apple Watch Foxconn https...
9,2019-03-16,Apple $AAPL Now Covered by Cowen https://t.co/...,Apple AAPL Now Covered by Cowen httpstcoPAFBMm...,Apple AAPL Now Covered by Cowen httpstcoPAFBMm...
10,2019-03-16,Cowen Begins Coverage on Apple $AAPL https://...,Cowen Begins Coverage on Apple AAPL httpstco ...,Cowen Begins Coverage on Apple AAPL httpstco ...
11,2019-03-16,__#AAPL Money Magnet example was for $AAPL Pr...,AAPL Money Magnet example was for AAPL Price ...,AAPL Money Magnet example was for AAPL Price ...
12,2019-03-16,Patience Paid Off with this $AAPL #Swingtrade!...,Patience Paid Off with this AAPL Swingtrade Ch...,Patience Paid Off with this AAPL Swingtrade Ch...
13,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
14,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...
15,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...
16,2019-03-16,Breaking insight: Apple $AAPL watch cannot scr...,Breaking insight Apple AAPL watch cannot scree...,Breaking insight Apple AAPL watch cannot scree...
17,2019-03-16,$AAPL https://t.co/IphGExWbLS\nAlmost to 190. ...,AAPL httpstcoIphGExWbLS\nAlmost to That was ...,AAPL httpstcoIphGExWbLS Almost to That was a...
18,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
19,2019-03-16,$SPY https://t.co/qdxGOge8mX\nThat was a fun w...,SPY httpstcoqdxGOge mX\nThat was a fun week Wi...,SPY httpstcoqdxGOge mX That was a fun week Wil...

In [396]:
# Removing http url from every tweet substitued with space
df["Tweet_wohttp"] = [re.sub(r"http\S+", " ", text) for text in df["Tweet_nonewline"]]
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...

In [397]:
# Removing numbers
df["Tweet_nonum"] = [re.sub("\d+", " ", text) for text in df["Tweet_wohttp"]]
df.head(20)

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
5,2019-03-16,Study study study. Saturday night and I choose...,Study study study Saturday night and I choose ...,Study study study Saturday night and I choose ...,Study study study Saturday night and I choose ...,Study study study Saturday night and I choose ...
6,2019-03-16,@jonnajarian @petenajarian pass this along to ...,jonnajarian petenajarian pass this along to St...,jonnajarian petenajarian pass this along to St...,jonnajarian petenajarian pass this along to St...,jonnajarian petenajarian pass this along to St...
7,2019-03-16,Q1 Earnings Season Gets Underway $AZO $NKE $AA...,Q Earnings Season Gets Underway AZO NKE AAPL ...,Q Earnings Season Gets Underway AZO NKE AAPL ...,Q Earnings Season Gets Underway AZO NKE AAPL ...,Q Earnings Season Gets Underway AZO NKE AAPL ...
8,2019-03-16,$AAPL $FXCOF - Hey 'Tim Apple' - Watch Foxconn...,AAPL FXCOF Hey Tim Apple Watch Foxconn https...,AAPL FXCOF Hey Tim Apple Watch Foxconn https...,AAPL FXCOF Hey Tim Apple Watch Foxconn sKK...,AAPL FXCOF Hey Tim Apple Watch Foxconn sKK...
9,2019-03-16,Apple $AAPL Now Covered by Cowen https://t.co/...,Apple AAPL Now Covered by Cowen httpstcoPAFBMm...,Apple AAPL Now Covered by Cowen httpstcoPAFBMm...,Apple AAPL Now Covered by Cowen xb,Apple AAPL Now Covered by Cowen xb
10,2019-03-16,Cowen Begins Coverage on Apple $AAPL https://...,Cowen Begins Coverage on Apple AAPL httpstco ...,Cowen Begins Coverage on Apple AAPL httpstco ...,Cowen Begins Coverage on Apple AAPL I yXFJRTL,Cowen Begins Coverage on Apple AAPL I yXFJRTL
11,2019-03-16,__#AAPL Money Magnet example was for $AAPL Pr...,AAPL Money Magnet example was for AAPL Price ...,AAPL Money Magnet example was for AAPL Price ...,AAPL Money Magnet example was for AAPL Price ...,AAPL Money Magnet example was for AAPL Price ...
12,2019-03-16,Patience Paid Off with this $AAPL #Swingtrade!...,Patience Paid Off with this AAPL Swingtrade Ch...,Patience Paid Off with this AAPL Swingtrade Ch...,Patience Paid Off with this AAPL Swingtrade Ch...,Patience Paid Off with this AAPL Swingtrade Ch...
13,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
14,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...
15,2019-03-16,$AAPL Apple Watch detects irregular heart beat...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...,AAPL Apple Watch detects irregular heart beat ...
16,2019-03-16,Breaking insight: Apple $AAPL watch cannot scr...,Breaking insight Apple AAPL watch cannot scree...,Breaking insight Apple AAPL watch cannot scree...,Breaking insight Apple AAPL watch cannot scree...,Breaking insight Apple AAPL watch cannot scree...
17,2019-03-16,$AAPL https://t.co/IphGExWbLS\nAlmost to 190. ...,AAPL httpstcoIphGExWbLS\nAlmost to That was ...,AAPL httpstcoIphGExWbLS Almost to That was a...,AAPL Almost to That was a fast pop Heres m...,AAPL Almost to That was a fast pop Heres m...
18,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
19,2019-03-16,$SPY https://t.co/qdxGOge8mX\nThat was a fun w...,SPY httpstcoqdxGOge mX\nThat was a fun week Wi...,SPY httpstcoqdxGOge mX That was a fun week Wil...,SPY mX That was a fun week Will bears be wro...,SPY mX That was a fun week Will bears be wro...

In [398]:
df["Tweet_noascii"] = [re.sub(r'[^\x00-\x7F]+',' ', text) for text in df["Tweet_nonum"]]
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...

In [399]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

df['Tweet_tokenized'] = df['Tweet_noascii'].apply(lambda x: tokenization(x.lower()))
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,"[melaynalokosky, wintoncapptnrs, so, does, thi..."
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,"[brokerages, set, apple, inc, aapl, price, tar..."
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,"[brokerages, set, apple, inc, aapl, target, pr..."
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ..."
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ..."

In [400]:
import nltk
nltk.download('wordnet')
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word, pos="v") for word in text]
    return text

df['Tweet_lemmatized'] = df['Tweet_tokenized'].apply(lambda x: lemmatizer(x))
df.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized,Tweet_lemmatized
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,"[melaynalokosky, wintoncapptnrs, so, does, thi...","[melaynalokosky, wintoncapptnrs, so, do, this,..."
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,"[brokerages, set, apple, inc, aapl, price, tar...","[brokerages, set, apple, inc, aapl, price, tar..."
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,"[brokerages, set, apple, inc, aapl, target, pr...","[brokerages, set, apple, inc, aapl, target, pr..."
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ..."
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ..."

In [401]:
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [402]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
    
df['Tweet_nonstop'] = df['Tweet_lemmatized'].apply(lambda x: remove_stopwords(x))
df.head()

,Date,Tweets,Tweet_punct,Tweet_nonewline,Tweet_wohttp,Tweet_nonum,Tweet_noascii,Tweet_tokenized,Tweet_lemmatized,Tweet_nonstop
0,2019-03-16,@MelaynaLokosky @WintonCapPtnrs So does this m...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,MelaynaLokosky WintonCapPtnrs So does this mea...,"[melaynalokosky, wintoncapptnrs, so, does, thi...","[melaynalokosky, wintoncapptnrs, so, do, this,...","[melaynalokosky, wintoncapptnrs, mean, elonmus..."
1,2019-03-16,Brokerages Set Apple Inc. $AAPL Price Target a...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,Brokerages Set Apple Inc AAPL Price Target at ...,"[brokerages, set, apple, inc, aapl, price, tar...","[brokerages, set, apple, inc, aapl, price, tar...","[brokerages, set, apple, inc, aapl, price, tar..."
2,2019-03-16,Brokerages Set Apple Inc. $AAPL Target Price a...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,Brokerages Set Apple Inc AAPL Target Price at ...,"[brokerages, set, apple, inc, aapl, target, pr...","[brokerages, set, apple, inc, aapl, target, pr...","[brokerages, set, apple, inc, aapl, target, pr..."
3,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, well, get, stock, like, a..."
4,2019-03-16,Join @RobinhoodApp and we'll both get a stock ...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,Join RobinhoodApp and well both get a stock li...,"[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, and, well, both, get, a, ...","[join, robinhoodapp, well, get, stock, like, a..."

In [403]:
#### REMOVE WHITESPACES

In [404]:
Apple_Data_Tweets = df.drop(["Tweets","Tweet_punct","Tweet_nonewline","Tweet_wohttp","Tweet_nonum","Tweet_noascii","Tweet_tokenized","Tweet_lemmatized"], axis=1)

In [405]:
Apple_Data_Tweets.head()

         Date                                      Tweet_nonstop
0  2019-03-16  [melaynalokosky, wintoncapptnrs, mean, elonmus...
1  2019-03-16  [brokerages, set, apple, inc, aapl, price, tar...
2  2019-03-16  [brokerages, set, apple, inc, aapl, target, pr...
3  2019-03-16  [join, robinhoodapp, well, get, stock, like, a...
4  2019-03-16  [join, robinhoodapp, well, get, stock, like, a...

In [406]:
Apple_Data_Tweets['Year']=[d.split('-')[0] for d in Apple_Data_Tweets.Date]
Apple_Data_Tweets['Month']=[d.split('-')[1] for d in Apple_Data_Tweets.Date]
Apple_Data_Tweets['Day']=[d.split('-')[2] for d in Apple_Data_Tweets.Date]

In [407]:
Apple_Data_Tweets.head()

,Date,Tweet_nonstop,Year,Month,Day
0,2019-03-16,"[melaynalokosky, wintoncapptnrs, mean, elonmus...",2019,03,16
1,2019-03-16,"[brokerages, set, apple, inc, aapl, price, tar...",2019,03,16
2,2019-03-16,"[brokerages, set, apple, inc, aapl, target, pr...",2019,03,16
3,2019-03-16,"[join, robinhoodapp, well, get, stock, like, a...",2019,03,16
4,2019-03-16,"[join, robinhoodapp, well, get, stock, like, a...",2019,03,16

In [408]:
Apple_Data_Tweets = Apple_Data_Tweets.drop(['Date','Year'],axis=1)

In [409]:
Apple_Data_Tweets.head()

                                       Tweet_nonstop Month Day
0  [melaynalokosky, wintoncapptnrs, mean, elonmus...    03  16
1  [brokerages, set, apple, inc, aapl, price, tar...    03  16
2  [brokerages, set, apple, inc, aapl, target, pr...    03  16
3  [join, robinhoodapp, well, get, stock, like, a...    03  16
4  [join, robinhoodapp, well, get, stock, like, a...    03  16

In [410]:
final_dataset_Tweets = pd.DataFrame(data=None, index=None,columns=['Month','Day','Tweet_nonstop'])

In [411]:
final_dataset_Tweets = Apple_Data_Tweets.groupby(['Month', 'Day'])['Tweet_nonstop'].apply(list).reset_index()

In [412]:
final_dataset_Tweets.head()

  Month Day                                      Tweet_nonstop
0    03  14  [[aapl, patent, automate, capture, image, data...
1    03  16  [[melaynalokosky, wintoncapptnrs, mean, elonmu...
2    03  17  [[join, robinhoodapp, well, get, stock, like, ...
3    03  18  [[watch, happen, naviavatar, broadcast, dow, a...
4    03  19  [[de, dis, mcd, nice, aapl, chk, swks, swn, ho...

In [413]:
def ltod(a):
    dic={}
    for i in range(len(a)):
        for j in a[i]:
            if j in dic:
                dic[j]+=1
            else:
                dic[j]=1
    return dic

In [414]:
final_dataset_Tweets['Tweet_nonstop']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: ltod(x))

In [415]:
final_dataset_Tweets.head()

  Month Day                                      Tweet_nonstop
0    03  14  {'aapl': 740, 'patent': 52, 'automate': 1, 'ca...
1    03  16  {'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...
2    03  17  {'join': 309, 'robinhoodapp': 303, 'well': 318...
3    03  18  {'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...
4    03  19  {'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...

In [416]:
with open('positive_words.txt') as f:
    pos_lines = f.read().splitlines()
len(pos_lines)

2005

In [417]:
with open('negative_words.txt') as f:
    neg_lines = f.read().splitlines()
len(neg_lines)

4781

In [418]:
def pos_parity(x):
    pos_count=0
    total = sum(x.values())
    for i in pos_lines:
        if i in x:
            pos_count+=x[i]
    return float(pos_count/total)

In [419]:
def neg_parity(x):
    neg_count=0
    for i in neg_lines:
        if i in x:
            neg_count+=x[i]
    return float(neg_count/(sum(x.values())))

In [420]:
final_dataset_Tweets['pos_parity_tweets']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: pos_parity(x))

In [421]:
final_dataset_Tweets['neg_parity_tweets']=final_dataset_Tweets['Tweet_nonstop'].apply(lambda x: neg_parity(x))

In [422]:
final_dataset_Tweets

,Month,Day,Tweet_nonstop,pos_parity_tweets,neg_parity_tweets
0,03,14,"{'aapl': 740, 'patent': 52, 'automate': 1, 'ca...",0.062987,0.021614
1,03,16,"{'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...",0.071613,0.020769
2,03,17,"{'join': 309, 'robinhoodapp': 303, 'well': 318...",0.078668,0.021075
3,03,18,"{'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...",0.064713,0.019743
4,03,19,"{'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...",0.076768,0.019804
5,03,20,"{'join': 346, 'robinhoodapp': 324, 'well': 342...",0.073075,0.016703
6,03,21,"{'jeffvandenburgh': 2, 'still': 68, 'place': 1...",0.064421,0.021638
7,03,22,"{'bravotrader': 2, 'algorithms': 2, 'scar': 4,...",0.058980,0.026105
8,03,23,"{'powerserious': 4, 'clown': 2, 'must': 4, 'du...",0.078267,0.016360
9,03,24,"{'join': 122, 'robinhoodapp': 120, 'well': 126...",0.056389,0.021434
10,03,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959
11,03,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813
12,03,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247
13,03,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436
14,03,30,"{'join': 36, 'robinhoodapp': 37, 'well': 38, '...",0.080386,0.017864
15,03,31,"{'weekly': 8, 'stock': 127, 'market': 47, 'rev...",0.055030,0.021893
16,04,01,"{'get': 134, 'ready': 6, 'olympics': 3, 'tokyo...",0.058047,0.024530
17,04,02,"{'like': 156, 'say': 16, 'would': 6, 'test': 6...",0.066109,0.019872
18,04,03,"{'join': 192, 'robinhoodapp': 182, 'well': 196...",0.071847,0.019388
19,04,04,"{'aapl': 913, 'close': 10, 'doesnt': 3, 'need'...",0.078279,0.020628
20,04,05,"{'watch': 14, 'happen': 6, 'naviavatar': 2, 'b...",0.075029,0.018433
21,04,06,"{'join': 111, 'robinhoodapp': 107, 'well': 109...",0.090644,0.015289
22,04,07,"{'trade': 68, 'ideasalertsinsightlive': 1, 'pm...",0.083671,0.019729
23,04,08,"{'rampcapitalllc': 2, 'marketwatch': 2, 'like'...",0.072965,0.024522
24,04,09,"{'sandropower': 4, 'appl': 14, 'another': 2, '...",0.064039,0.049261
25,04,10,"{'boom': 1, 'appl': 10, 'dapple': 1, 'cnbcfast...",0.037037,0.049383
26,04,11,"{'join': 188, 'robinhoodapp': 181, 'well': 182...",0.069543,0.020637
27,04,12,"{'stay': 8, 'ahead': 4, 'nasdaq': 10, 'news': ...",0.069129,0.022212
28,04,13,"{'join': 117, 'robinhoodapp': 112, 'well': 117...",0.085128,0.014021
29,04,14,"{'join': 103, 'robinhoodapp': 96, 'well': 98, ...",0.072834,0.019021
30,04,15,"{'hey': 2, 'big': 16, 'board': 3, 'might': 11,...",0.060861,0.022959
31,04,16,"{'aapl': 1183, 'patent': 68, 'maintenance': 2,...",0.058133,0.020939

In [423]:
new_df_Tweets = final_dataset_Tweets.drop(["Tweet_nonstop","Month","Day"], axis=1)
final_dataset_Tweets['Day'] = final_dataset_Tweets['Day'].astype(int)
final_dataset_Tweets['Month'] = final_dataset_Tweets['Month'].astype(int)
new_df_Tweets

    pos_parity_tweets  neg_parity_tweets
0            0.062987           0.021614
1            0.071613           0.020769
2            0.078668           0.021075
3            0.064713           0.019743
4            0.076768           0.019804
5            0.073075           0.016703
6            0.064421           0.021638
7            0.058980           0.026105
8            0.078267           0.016360
9            0.056389           0.021434
10           0.047246           0.030959
11           0.053721           0.031813
12           0.051641           0.030247
13           0.047278           0.029436
14           0.080386           0.017864
15           0.055030           0.021893
16           0.058047           0.024530
17           0.066109           0.019872
18           0.071847           0.019388
19           0.078279           0.020628
20           0.075029           0.018433
21           0.090644           0.015289
22           0.083671           0.019729
23           0.072965           0.024522
24           0.064039           0.049261
25           0.037037           0.049383
26           0.069543           0.020637
27           0.069129           0.022212
28           0.085128           0.014021
29           0.072834           0.019021
30           0.060861           0.022959
31           0.058133           0.020939

In [424]:
#def mmdd_feature(x,y):
#    s=x+x/y
#    return float(s)

In [425]:
new_df_Tweets['date_feature']= (final_dataset_Tweets['Month']+final_dataset_Tweets['Day'])/final_dataset_Tweets['Month']

In [426]:
new_df_Tweets

    pos_parity_tweets  neg_parity_tweets  date_feature
0            0.062987           0.021614      5.666667
1            0.071613           0.020769      6.333333
2            0.078668           0.021075      6.666667
3            0.064713           0.019743      7.000000
4            0.076768           0.019804      7.333333
5            0.073075           0.016703      7.666667
6            0.064421           0.021638      8.000000
7            0.058980           0.026105      8.333333
8            0.078267           0.016360      8.666667
9            0.056389           0.021434      9.000000
10           0.047246           0.030959      9.333333
11           0.053721           0.031813      9.666667
12           0.051641           0.030247     10.000000
13           0.047278           0.029436     10.333333
14           0.080386           0.017864     11.000000
15           0.055030           0.021893     11.333333
16           0.058047           0.024530      1.250000
17           0.066109           0.019872      1.500000
18           0.071847           0.019388      1.750000
19           0.078279           0.020628      2.000000
20           0.075029           0.018433      2.250000
21           0.090644           0.015289      2.500000
22           0.083671           0.019729      2.750000
23           0.072965           0.024522      3.000000
24           0.064039           0.049261      3.250000
25           0.037037           0.049383      3.500000
26           0.069543           0.020637      3.750000
27           0.069129           0.022212      4.000000
28           0.085128           0.014021      4.250000
29           0.072834           0.019021      4.500000
30           0.060861           0.022959      4.750000
31           0.058133           0.020939      5.000000

In [310]:
# ADD FEATURES FOR THE ML MODEL
# add change in stock prices


# combine date_feature and stock prices to signify change in particular date
# decide a threshold for all brands and then mention if impact of these brands have been affected by twitter and news kind of like yes/no table or inc/dec table
# calculate popularity of brands based on pos and neg counts using Naive Bayes prob.

### NEWS SENTIMENT ANALYSIS

In [311]:
df1 = pd.read_csv('C:/Users/SAHAJ/Desktop/DATA-SCIENCE PROJECT/APPLE_DATA/AAPL.csv',encoding='utf=8') #header=None, names=['Date_time', 'Tweets'])
#df['Date'] = df['Date_time']

In [312]:
df1.head()

        Date                                               AAPL
0  3/16/2019            battle of dividends apple vs microsoft
1  3/16/2019  apple watch detects irregular heart beat in la...
2  3/16/2019       trade tech spark risk on session for stocks
3  3/16/2019  5 top stock trades for monday apple aurora ado...
4  3/17/2019   forget fitbit huami is a better wearables stock

In [313]:
import string
import re
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [314]:
# Removing all punctuations
def remove_punct(text):
    text  = "".join([char for char in text if char not in string.punctuation])
    text = re.sub('[0-9]+', ' ', text)
    return text

df1['AAPL_punct'] = df1['AAPL'].apply(lambda x: remove_punct(x))
df1.head(10)

,Date,AAPL,AAPL_punct
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock
5,3/18/2019,2 big ipad updates revealed heres the skinny o...,big ipad updates revealed heres the skinny o...
6,3/18/2019,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...
7,3/18/2019,netflix says it will not join apple tv service...,netflix says it will not join apple tv service
8,3/18/2019,3 top us stocks to watch in march,top us stocks to watch in march
9,3/18/2019,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl

In [315]:
# removing newline or \n expressions.
df1["AAPL_nonewline"] = [tweet.replace('\n'," ").strip() for tweet in df1["AAPL_punct"]]
df1.head(20)

,Date,AAPL,AAPL_punct,AAPL_nonewline
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock
5,3/18/2019,2 big ipad updates revealed heres the skinny o...,big ipad updates revealed heres the skinny o...,big ipad updates revealed heres the skinny on ...
6,3/18/2019,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...
7,3/18/2019,netflix says it will not join apple tv service...,netflix says it will not join apple tv service,netflix says it will not join apple tv service
8,3/18/2019,3 top us stocks to watch in march,top us stocks to watch in march,top us stocks to watch in march
9,3/18/2019,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl
10,3/18/2019,breaking down nikes q3 earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...
11,3/18/2019,apple updates ipad lineup ahead of services ev...,apple updates ipad lineup ahead of services ev...,apple updates ipad lineup ahead of services event
12,3/18/2019,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...
13,3/18/2019,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...
14,3/18/2019,wall st advances ahead of fed policy meeting 2...,wall st advances ahead of fed policy meeting,wall st advances ahead of fed policy meeting
15,3/18/2019,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...
16,3/18/2019,monday apple rumors apple launches new 105 inc...,monday apple rumors apple launches new inch ...,monday apple rumors apple launches new inch ...
17,3/18/2019,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini
18,3/18/2019,is there something wrong with amazon stock,is there something wrong with amazon stock,is there something wrong with amazon stock
19,3/18/2019,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...

In [316]:
#Removing http url from every tweet substitued with space
df1["AAPL_wohttp"] = [re.sub(r"http\S+", " ", text) for text in df1["AAPL_nonewline"]]
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock

In [317]:
# Removing numbers
df1["AAPL_nonum"] = [re.sub("\d+", " ", text) for text in df1["AAPL_wohttp"]]
df1.head(20)

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock
5,3/18/2019,2 big ipad updates revealed heres the skinny o...,big ipad updates revealed heres the skinny o...,big ipad updates revealed heres the skinny on ...,big ipad updates revealed heres the skinny on ...,big ipad updates revealed heres the skinny on ...
6,3/18/2019,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...,buy cheap micron mu stock before earnings desp...
7,3/18/2019,netflix says it will not join apple tv service...,netflix says it will not join apple tv service,netflix says it will not join apple tv service,netflix says it will not join apple tv service,netflix says it will not join apple tv service
8,3/18/2019,3 top us stocks to watch in march,top us stocks to watch in march,top us stocks to watch in march,top us stocks to watch in march,top us stocks to watch in march
9,3/18/2019,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl,noteworthy monday option activity dakt fb aapl
10,3/18/2019,breaking down nikes q3 earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...,breaking down nikes q earnings outlook ahead ...
11,3/18/2019,apple updates ipad lineup ahead of services ev...,apple updates ipad lineup ahead of services ev...,apple updates ipad lineup ahead of services event,apple updates ipad lineup ahead of services event,apple updates ipad lineup ahead of services event
12,3/18/2019,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...,foxconn says wisconsin factory production to l...
13,3/18/2019,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...,us stockswall st advances ahead of fed policy ...
14,3/18/2019,wall st advances ahead of fed policy meeting 2...,wall st advances ahead of fed policy meeting,wall st advances ahead of fed policy meeting,wall st advances ahead of fed policy meeting,wall st advances ahead of fed policy meeting
15,3/18/2019,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...,a foolish take the iphones market share in the...
16,3/18/2019,monday apple rumors apple launches new 105 inc...,monday apple rumors apple launches new inch ...,monday apple rumors apple launches new inch ...,monday apple rumors apple launches new inch ...,monday apple rumors apple launches new inch ...
17,3/18/2019,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini,apple releases new ipad air ipad mini
18,3/18/2019,is there something wrong with amazon stock,is there something wrong with amazon stock,is there something wrong with amazon stock,is there something wrong with amazon stock,is there something wrong with amazon stock
19,3/18/2019,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...,apples heavy discounts forecast a headwind for...

In [318]:
df1["AAPL_noascii"] = [re.sub(r'[^\x00-\x7F]+',' ', text) for text in df1["AAPL_nonum"]]
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock

In [319]:
def tokenization(text):
    text = re.split('\W+', text)
    return text

df1['AAPL_tokenized'] = df1['AAPL_noascii'].apply(lambda x: tokenization(x.lower()))
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,"[battle, of, dividends, apple, vs, microsoft]"
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,"[apple, watch, detects, irregular, heart, beat..."
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,"[trade, tech, spark, risk, on, session, for, s..."
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,"[top, stock, trades, for, monday, apple, auror..."
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,"[forget, fitbit, huami, is, a, better, wearabl..."

In [320]:
import nltk
nltk.download('wordnet')
wn = nltk.WordNetLemmatizer()

def lemmatizer(text):
    text = [wn.lemmatize(word, pos="v") for word in text]
    return text

df1['AAPL_lemmatized'] = df1['AAPL_tokenized'].apply(lambda x: lemmatizer(x))
df1.head()

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized,AAPL_lemmatized
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,"[battle, of, dividends, apple, vs, microsoft]","[battle, of, dividends, apple, vs, microsoft]"
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,"[apple, watch, detects, irregular, heart, beat...","[apple, watch, detect, irregular, heart, beat,..."
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,"[trade, tech, spark, risk, on, session, for, s...","[trade, tech, spark, risk, on, session, for, s..."
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,"[top, stock, trades, for, monday, apple, auror...","[top, stock, trade, for, monday, apple, aurora..."
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,"[forget, fitbit, huami, is, a, better, wearabl...","[forget, fitbit, huami, be, a, better, wearabl..."

In [321]:
import nltk
nltk.download('stopwords')
stopword = nltk.corpus.stopwords.words('english')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\SAHAJ\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [322]:
def remove_stopwords(text):
    text = [word for word in text if word not in stopword]
    return text
    
df1['AAPL_nonstop'] = df1['AAPL_lemmatized'].apply(lambda x: remove_stopwords(x))
df1.head()

,Date,AAPL,AAPL_punct,AAPL_nonewline,AAPL_wohttp,AAPL_nonum,AAPL_noascii,AAPL_tokenized,AAPL_lemmatized,AAPL_nonstop
0,3/16/2019,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,battle of dividends apple vs microsoft,"[battle, of, dividends, apple, vs, microsoft]","[battle, of, dividends, apple, vs, microsoft]","[battle, dividends, apple, vs, microsoft]"
1,3/16/2019,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,apple watch detects irregular heart beat in la...,"[apple, watch, detects, irregular, heart, beat...","[apple, watch, detect, irregular, heart, beat,...","[apple, watch, detect, irregular, heart, beat,..."
2,3/16/2019,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,trade tech spark risk on session for stocks,"[trade, tech, spark, risk, on, session, for, s...","[trade, tech, spark, risk, on, session, for, s...","[trade, tech, spark, risk, session, stock]"
3,3/16/2019,5 top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora ado...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,top stock trades for monday apple aurora adobe...,"[top, stock, trades, for, monday, apple, auror...","[top, stock, trade, for, monday, apple, aurora...","[top, stock, trade, monday, apple, aurora, ado..."
4,3/17/2019,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,forget fitbit huami is a better wearables stock,"[forget, fitbit, huami, is, a, better, wearabl...","[forget, fitbit, huami, be, a, better, wearabl...","[forget, fitbit, huami, better, wearables, stock]"

In [323]:
Apple_Data_News = df1.drop(["AAPL","AAPL_punct","AAPL_nonewline","AAPL_wohttp","AAPL_nonum","AAPL_noascii","AAPL_tokenized","AAPL_lemmatized"], axis=1)

In [324]:
Apple_Data_News.head()
print(type(Apple_Data_News.Date))

<class 'pandas.core.series.Series'>

In [325]:
Apple_Data_News['Month']=[d.split('/')[0] for d in Apple_Data_News.Date]
Apple_Data_News['Day']=[d.split('/')[1] for d in Apple_Data_News.Date]
Apple_Data_News['Year']=[d.split('/')[2] for d in Apple_Data_News.Date]

In [326]:
Apple_Data_News.head()

,Date,AAPL_nonstop,Month,Day,Year
0,3/16/2019,"[battle, dividends, apple, vs, microsoft]",3,16,2019
1,3/16/2019,"[apple, watch, detect, irregular, heart, beat,...",3,16,2019
2,3/16/2019,"[trade, tech, spark, risk, session, stock]",3,16,2019
3,3/16/2019,"[top, stock, trade, monday, apple, aurora, ado...",3,16,2019
4,3/17/2019,"[forget, fitbit, huami, better, wearables, stock]",3,17,2019

In [327]:
Apple_Data_News = Apple_Data_News.drop(['Date','Year'],axis=1)

In [328]:
Apple_Data_News.head(50)

                                         AAPL_nonstop Month Day
0           [battle, dividends, apple, vs, microsoft]     3  16
1   [apple, watch, detect, irregular, heart, beat,...     3  16
2          [trade, tech, spark, risk, session, stock]     3  16
3   [top, stock, trade, monday, apple, aurora, ado...     3  16
4   [forget, fitbit, huami, better, wearables, stock]     3  17
5   [big, ipad, update, reveal, heres, skinny, app...     3  18
6   [buy, cheap, micron, mu, stock, earn, despite,...     3  18
7            [netflix, say, join, apple, tv, service]     3  18
8                      [top, us, stock, watch, march]     3  18
9   [noteworthy, monday, option, activity, dakt, f...     3  18
10  [break, nikes, q, earn, outlook, ahead, march,...     3  18
11  [apple, update, ipad, lineup, ahead, service, ...     3  18
12  [foxconn, say, wisconsin, factory, production,...     3  18
13  [us, stockswall, st, advance, ahead, feed, pol...     3  18
14     [wall, st, advance, ahead, feed, policy, meet]     3  18
15  [foolish, take, iphones, market, share, us, st...     3  18
16  [monday, apple, rumor, apple, launch, new, inc...     3  18
17       [apple, release, new, ipad, air, ipad, mini]     3  18
18                  [something, wrong, amazon, stock]     3  18
19  [apples, heavy, discount, forecast, headwind, ...     3  18
20  [wall, st, inch, higher, ahead, feed, policy, ...     3  18
21  [us, stockswall, st, inch, higher, ahead, feed...     3  18
22  [deutsche, merger, move, take, european, stock...     3  18
23    [us, stock, moveboeing, tesla, facebook, apple]     3  18
24  [us, stockswall, st, tread, water, boeing, fac...     3  18
25  [wall, st, tread, water, boeing, facebook, wei...     3  18
26  [technology, sector, update, pxlw, qcom, viot,...     3  18
27   [wisdomtree, us, earn, fund, eps, invest, radar]     3  18
28  [qualcomm, get, favorable, patent, verdicts, u...     3  18
29  [us, stock, moveedwards, lifesciences, boeing,...     3  18
30  [us, stockstech, boost, wall, street, boeing, ...     3  18
31  [tech, boost, wall, street, boeing, keep, dow,...     3  18
32  [big, stock, chart, monday, morgan, stanley, a...     3  18
33  [wall, street, lift, tech, stock, boeing, drag...     3  18
34  [us, stockswall, street, lift, tech, stock, bo...     3  18
35  [apple, unveil, new, ipad, update, mini, ahead...     3  18
36  [apple, launch, inch, ipad, update, mini, ahea...     3  18
37  [apple, launch, ipad, air, mini, ahead, march,...     3  18
38  [warren, buffett, stock, hes, likely, long, term]     3  18
39                [better, buy, apple, vs, microsoft]     3  19
40                  [apple, another, huawei, problem]     3  19
41          [apple, aapl, dip, broader, market, know]     3  19
42  [samsung, elec, see, green, shoot, china, smar...     3  19
43  [reveal, key, metric, show, apple, lose, innov...     3  19
44  [apples, stream, service, without, netflix, dr...     3  19
45  [netflix, execs, welcome, competition, apple, ...     3  19
46  [apple, announce, second, hardware, refresh, w...     3  19
47  [spotify, poise, boost, spotify, stock, hurt, ...     3  19
48  [tuesday, apple, rumor, airpower, may, close, ...     3  19
49                      [mega, cap, stock, buy, perk]     3  19

In [329]:
final_dataset_News = pd.DataFrame(data=None, index=None,columns=['Month','Day','AAPL_nonstop'])

In [330]:
final_dataset_News = Apple_Data_News.groupby(['Month','Day'])['AAPL_nonstop'].apply(list).reset_index()

In [331]:
final_dataset_News

   Month Day                                       AAPL_nonstop
0      3  16  [[battle, dividends, apple, vs, microsoft], [a...
1      3  17  [[forget, fitbit, huami, better, wearables, st...
2      3  18  [[big, ipad, update, reveal, heres, skinny, ap...
3      3  19  [[better, buy, apple, vs, microsoft], [apple, ...
4      3  20  [[apples, new, airpods, big, deal], [gadgets, ...
5      3  21  [[sony, pull, plug, smartphone, business], [as...
6      3  22  [[tech, stock, week, apple, rise, instagram, l...
7      3  23  [[apples, video, stream, service, might, revam...
8      3  24  [[focusapples, iphone, struggle, unravel, ambi...
9      3  25  [[apples, new, service, anticipate, password, ...
10     3  26  [[problem, apples, service, strategy], [ipos, ...
11     3  27  [[stock, settle, choppy, session, lower], [tec...
12     3  28  [[apples, new, stream, tv, service, doesnt, ne...
13     3  29  [[friday, apple, rumor, schematics, may, show,...
14     3  30  [[apple, stock, get, boost, app, store, revenu...
15     3  31  [[chinas, factory, activity, pick, slightly, a...
16     4   1  [[apple, luxury, brand, drop, china, price, va...
17     4  10  [[disney, disneys, pivot, tech], [would, apple...
18     4  11  [[inside, softbanks, push, rule, road], [buy, ...
19     4  12  [[amazon, wade, data, privacy, nightmare, some...
20     4  13            [[inside, softbanks, push, rule, road]]
21     4  14  [[apple, suppliers, rescue, leave, japan, redf...
22     4  15  [[apple, service, strategy, hit, speed, bump],...
23     4  16  [[tomtom, result, top, estimate, win, two, hig...
24     4   2  [[cirrus, logic, apples, latest, airpods, rela...
25     4   3  [[pay, music, stream, hit, new, milestone], [s...
26     4   4  [[apple, slash, homepod, price], [samsung, ele...
27     4   5  [[apple, leave, cirrus, logic, cold], [costco,...
28     4   6  [[facebook, want, change, consume, news], [her...
29     4   7  [[apple, make, yet, another, high, profile, ar...
30     4   8  [[intels, chip, issue, hurt, tech, giants], [a...
31     4   9  [[dan, loeb, help, sony, handily, sharpen, pic...

In [332]:
#### APPLIED LIST TO DICT USING THE FUNCTION ABOVE

In [333]:
final_dataset_News['AAPL_nonstop']=final_dataset_News['AAPL_nonstop'].apply(lambda x: ltod(x))

In [334]:
final_dataset_News

   Month Day                                       AAPL_nonstop
0      3  16  {'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...
1      3  17  {'forget': 1, 'fitbit': 1, 'huami': 1, 'better...
2      3  18  {'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...
3      3  19  {'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...
4      3  20  {'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...
5      3  21  {'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...
6      3  22  {'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...
7      3  23  {'apples': 2, 'video': 1, 'stream': 1, 'servic...
8      3  24  {'focusapples': 1, 'iphone': 1, 'struggle': 1,...
9      3  25  {'apples': 3, 'new': 6, 'service': 6, 'anticip...
10     3  26  {'problem': 1, 'apples': 5, 'service': 4, 'str...
11     3  27  {'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...
12     3  28  {'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...
13     3  29  {'friday': 1, 'apple': 5, 'rumor': 1, 'schemat...
14     3  30  {'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...
15     3  31  {'chinas': 1, 'factory': 1, 'activity': 1, 'pi...
16     4   1  {'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...
17     4  10  {'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...
18     4  11  {'inside': 1, 'softbanks': 1, 'push': 2, 'rule...
19     4  12  {'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...
20     4  13  {'inside': 1, 'softbanks': 1, 'push': 1, 'rule...
21     4  14  {'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...
22     4  15  {'apple': 8, 'service': 2, 'strategy': 1, 'hit...
23     4  16  {'tomtom': 1, 'result': 1, 'top': 2, 'estimate...
24     4   2  {'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...
25     4   3  {'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...
26     4   4  {'apple': 8, 'slash': 1, 'homepod': 2, 'price'...
27     4   5  {'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...
28     4   6  {'facebook': 1, 'want': 1, 'change': 1, 'consu...
29     4   7  {'apple': 4, 'make': 1, 'yet': 1, 'another': 1...
30     4   8  {'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...
31     4   9  {'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...

In [335]:
#### USING POSITIVE.TXT AND NEGATIVE.TXT ###################### NEEDS TO BE MODIFIED FOR THE NEWS AS WELL.

In [336]:
final_dataset_News['pos_parity_news']=final_dataset_News['AAPL_nonstop'].apply(lambda x: pos_parity(x))

In [337]:
final_dataset_News['neg_parity_news']=final_dataset_News['AAPL_nonstop'].apply(lambda x: neg_parity(x))

In [338]:
final_dataset_News

,Month,Day,AAPL_nonstop,pos_parity_news,neg_parity_news
0,3,16,"{'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...",0.034483,0.068966
1,3,17,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000
2,3,18,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765
3,3,19,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077
4,3,20,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259
5,3,21,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149
6,3,22,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419
7,3,23,"{'apples': 2, 'video': 1, 'stream': 1, 'servic...",0.000000,0.000000
8,3,24,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.032258,0.129032
9,3,25,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561
10,3,26,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938
11,3,27,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677
12,3,28,"{'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...",0.023256,0.062016
13,3,29,"{'friday': 1, 'apple': 5, 'rumor': 1, 'schemat...",0.008850,0.053097
14,3,30,"{'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...",0.021739,0.000000
15,3,31,"{'chinas': 1, 'factory': 1, 'activity': 1, 'pi...",0.023256,0.093023
16,4,1,"{'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...",0.066148,0.050584
17,4,10,"{'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...",0.019900,0.049751
18,4,11,"{'inside': 1, 'softbanks': 1, 'push': 2, 'rule...",0.051546,0.030928
19,4,12,"{'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...",0.037500,0.037500
20,4,13,"{'inside': 1, 'softbanks': 1, 'push': 1, 'rule...",0.000000,0.000000
21,4,14,"{'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...",0.000000,0.000000
22,4,15,"{'apple': 8, 'service': 2, 'strategy': 1, 'hit...",0.027397,0.020548
23,4,16,"{'tomtom': 1, 'result': 1, 'top': 2, 'estimate...",0.050139,0.027855
24,4,2,"{'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...",0.052632,0.017544
25,4,3,"{'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...",0.018634,0.018634
26,4,4,"{'apple': 8, 'slash': 1, 'homepod': 2, 'price'...",0.008772,0.052632
27,4,5,"{'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...",0.071066,0.035533
28,4,6,"{'facebook': 1, 'want': 1, 'change': 1, 'consu...",0.062500,0.000000
29,4,7,"{'apple': 4, 'make': 1, 'yet': 1, 'another': 1...",0.102564,0.025641
30,4,8,"{'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...",0.058824,0.058824
31,4,9,"{'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...",0.033493,0.038278

In [339]:
new_df_News= final_dataset_News.drop(["AAPL_nonstop","Month","Day"], axis=1)
final_dataset_News['Day'] = final_dataset_News['Day'].astype(int)
final_dataset_News['Month'] = final_dataset_News['Month'].astype(int)
new_df_News

    pos_parity_news  neg_parity_news
0          0.034483         0.068966
1          0.166667         0.000000
2          0.018382         0.036765
3          0.038462         0.048077
4          0.014815         0.059259
5          0.052486         0.033149
6          0.027907         0.074419
7          0.000000         0.000000
8          0.032258         0.129032
9          0.018717         0.085561
10         0.037534         0.050938
11         0.019900         0.064677
12         0.023256         0.062016
13         0.008850         0.053097
14         0.021739         0.000000
15         0.023256         0.093023
16         0.066148         0.050584
17         0.019900         0.049751
18         0.051546         0.030928
19         0.037500         0.037500
20         0.000000         0.000000
21         0.000000         0.000000
22         0.027397         0.020548
23         0.050139         0.027855
24         0.052632         0.017544
25         0.018634         0.018634
26         0.008772         0.052632
27         0.071066         0.035533
28         0.062500         0.000000
29         0.102564         0.025641
30         0.058824         0.058824
31         0.033493         0.038278

### GETTING STOCKS DATA

In [370]:
df2 = pd.read_csv('C:/Users/SAHAJ/Desktop/DATA-SCIENCE PROJECT/APPLE_DATA/Apple_Stock.csv',encoding='utf=8') #header=None, names=['Date_time', 'Tweets'])
#df['Date'] = df['Date_time']

In [371]:
df2

,Date,High,Low,Open,Close,Volume,Adj Close
0,3/15/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995
1,3/16/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995
2,3/17/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995
3,3/18/2019,188.389999,185.789993,185.800003,188.020004,26219800,188.020004
4,3/19/2019,188.990005,185.919998,188.350006,186.529999,31646400,186.529999
5,3/20/2019,189.490005,184.729996,186.229996,188.160004,31035200,188.160004
6,3/21/2019,196.330002,189.809998,190.020004,195.089996,51034200,195.089996
7,3/22/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003
8,3/23/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003
9,3/24/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003
10,3/25/2019,191.979996,186.600006,191.509995,188.740005,43845300,188.740005
11,3/26/2019,192.880005,184.580002,191.660004,186.789993,49800500,186.789993
12,3/27/2019,189.759995,186.550003,188.750000,188.470001,29848400,188.470001
13,3/28/2019,189.559998,187.529999,188.949997,188.720001,20780400,188.720001
14,3/29/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997
15,3/30/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997
16,3/31/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997
17,4/1/2019,191.679993,188.380005,191.639999,191.240005,27862000,191.240005
18,4/2/2019,194.460007,191.050003,191.089996,194.020004,22765700,194.020004
19,4/3/2019,196.500000,193.149994,193.250000,195.350006,23271800,195.350006
20,4/4/2019,196.369995,193.139999,194.789993,195.690002,19114300,195.690002
21,4/5/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000
22,4/6/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000
23,4/7/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000
24,4/8/2019,200.229996,196.339996,196.419998,200.100006,25881700,200.100006
25,4/9/2019,202.850006,199.229996,200.320007,199.500000,35768200,199.500000
26,4/10/2019,200.740005,198.179993,198.679993,200.619995,21695300,200.619995
27,4/11/2019,201.000000,198.440002,200.850006,198.949997,20900800,198.949997
28,4/12/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995
29,4/13/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995
30,4/14/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995
31,4/15/2019,199.850006,198.009995,198.580002,199.229996,17536600,199.229996
32,4/16/2019,201.369995,198.559998,199.460007,199.250000,25696400,199.250000

In [372]:
Apple_Data_Stock=df2
print(type(Apple_Data_Stock.Date))
print(type(df2.Date))

<class 'pandas.core.series.Series'>
<class 'pandas.core.series.Series'>

In [373]:
Apple_Data_Stock['Month']=[d.split('/')[0] for d in Apple_Data_Stock.Date]
Apple_Data_Stock['Day']=[d.split('/')[1] for d in Apple_Data_Stock.Date]
Apple_Data_Stock['Year']=[d.split('/')[2] for d in Apple_Data_Stock.Date]

In [374]:
Apple_Data_Stock

,Date,High,Low,Open,Close,Volume,Adj Close,Month,Day,Year
0,3/15/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,15,2019
1,3/16/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,16,2019
2,3/17/2019,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,17,2019
3,3/18/2019,188.389999,185.789993,185.800003,188.020004,26219800,188.020004,3,18,2019
4,3/19/2019,188.990005,185.919998,188.350006,186.529999,31646400,186.529999,3,19,2019
5,3/20/2019,189.490005,184.729996,186.229996,188.160004,31035200,188.160004,3,20,2019
6,3/21/2019,196.330002,189.809998,190.020004,195.089996,51034200,195.089996,3,21,2019
7,3/22/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,22,2019
8,3/23/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,23,2019
9,3/24/2019,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,24,2019
10,3/25/2019,191.979996,186.600006,191.509995,188.740005,43845300,188.740005,3,25,2019
11,3/26/2019,192.880005,184.580002,191.660004,186.789993,49800500,186.789993,3,26,2019
12,3/27/2019,189.759995,186.550003,188.750000,188.470001,29848400,188.470001,3,27,2019
13,3/28/2019,189.559998,187.529999,188.949997,188.720001,20780400,188.720001,3,28,2019
14,3/29/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,29,2019
15,3/30/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,30,2019
16,3/31/2019,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,31,2019
17,4/1/2019,191.679993,188.380005,191.639999,191.240005,27862000,191.240005,4,1,2019
18,4/2/2019,194.460007,191.050003,191.089996,194.020004,22765700,194.020004,4,2,2019
19,4/3/2019,196.500000,193.149994,193.250000,195.350006,23271800,195.350006,4,3,2019
20,4/4/2019,196.369995,193.139999,194.789993,195.690002,19114300,195.690002,4,4,2019
21,4/5/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,5,2019
22,4/6/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,6,2019
23,4/7/2019,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,7,2019
24,4/8/2019,200.229996,196.339996,196.419998,200.100006,25881700,200.100006,4,8,2019
25,4/9/2019,202.850006,199.229996,200.320007,199.500000,35768200,199.500000,4,9,2019
26,4/10/2019,200.740005,198.179993,198.679993,200.619995,21695300,200.619995,4,10,2019
27,4/11/2019,201.000000,198.440002,200.850006,198.949997,20900800,198.949997,4,11,2019
28,4/12/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,12,2019
29,4/13/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,13,2019
30,4/14/2019,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,14,2019
31,4/15/2019,199.850006,198.009995,198.580002,199.229996,17536600,199.229996,4,15,2019
32,4/16/2019,201.369995,198.559998,199.460007,199.250000,25696400,199.250000,4,16,2019

In [375]:
Apple_Data_Stock = Apple_Data_Stock.drop(['Date','Year'],axis=1)
Apple_Data_Stock

,High,Low,Open,Close,Volume,Adj Close,Month,Day
0,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,15
1,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,16
2,187.330002,183.740005,184.850006,186.119995,39042900,186.119995,3,17
3,188.389999,185.789993,185.800003,188.020004,26219800,188.020004,3,18
4,188.990005,185.919998,188.350006,186.529999,31646400,186.529999,3,19
5,189.490005,184.729996,186.229996,188.160004,31035200,188.160004,3,20
6,196.330002,189.809998,190.020004,195.089996,51034200,195.089996,3,21
7,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,22
8,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,23
9,197.690002,190.779999,195.339996,191.050003,42407700,191.050003,3,24
10,191.979996,186.600006,191.509995,188.740005,43845300,188.740005,3,25
11,192.880005,184.580002,191.660004,186.789993,49800500,186.789993,3,26
12,189.759995,186.550003,188.750000,188.470001,29848400,188.470001,3,27
13,189.559998,187.529999,188.949997,188.720001,20780400,188.720001,3,28
14,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,29
15,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,30
16,190.080002,188.539993,189.830002,189.949997,23564000,189.949997,3,31
17,191.679993,188.380005,191.639999,191.240005,27862000,191.240005,4,1
18,194.460007,191.050003,191.089996,194.020004,22765700,194.020004,4,2
19,196.500000,193.149994,193.250000,195.350006,23271800,195.350006,4,3
20,196.369995,193.139999,194.789993,195.690002,19114300,195.690002,4,4
21,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,5
22,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,6
23,197.100006,195.929993,196.449997,197.000000,18526600,197.000000,4,7
24,200.229996,196.339996,196.419998,200.100006,25881700,200.100006,4,8
25,202.850006,199.229996,200.320007,199.500000,35768200,199.500000,4,9
26,200.740005,198.179993,198.679993,200.619995,21695300,200.619995,4,10
27,201.000000,198.440002,200.850006,198.949997,20900800,198.949997,4,11
28,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,12
29,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,13
30,200.139999,196.210007,199.199997,198.869995,27760700,198.869995,4,14
31,199.850006,198.009995,198.580002,199.229996,17536600,199.229996,4,15
32,201.369995,198.559998,199.460007,199.250000,25696400,199.250000,4,16

In [376]:
Apple_Data_Stock['Day'] = Apple_Data_Stock['Day'].astype(int)
Apple_Data_Stock['Month'] = Apple_Data_Stock['Month'].astype(int)

In [377]:
df3=pd.merge(final_dataset_Tweets,final_dataset_News, how="outer", on=["Month","Day"])

In [378]:
df3

,Month,Day,Tweet_nonstop,pos_parity_tweets,neg_parity_tweets,AAPL_nonstop,pos_parity_news,neg_parity_news
0,3,14,"{'aapl': 740, 'patent': 52, 'automate': 1, 'ca...",0.062987,0.021614,NaN,NaN,NaN
1,3,16,"{'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...",0.071613,0.020769,"{'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...",0.034483,0.068966
2,3,17,"{'join': 309, 'robinhoodapp': 303, 'well': 318...",0.078668,0.021075,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000
3,3,18,"{'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...",0.064713,0.019743,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765
4,3,19,"{'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...",0.076768,0.019804,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077
5,3,20,"{'join': 346, 'robinhoodapp': 324, 'well': 342...",0.073075,0.016703,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259
6,3,21,"{'jeffvandenburgh': 2, 'still': 68, 'place': 1...",0.064421,0.021638,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149
7,3,22,"{'bravotrader': 2, 'algorithms': 2, 'scar': 4,...",0.058980,0.026105,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419
8,3,23,"{'powerserious': 4, 'clown': 2, 'must': 4, 'du...",0.078267,0.016360,"{'apples': 2, 'video': 1, 'stream': 1, 'servic...",0.000000,0.000000
9,3,24,"{'join': 122, 'robinhoodapp': 120, 'well': 126...",0.056389,0.021434,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.032258,0.129032
10,3,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561
11,3,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938
12,3,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677
13,3,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436,"{'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...",0.023256,0.062016
14,3,30,"{'join': 36, 'robinhoodapp': 37, 'well': 38, '...",0.080386,0.017864,"{'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...",0.021739,0.000000
15,3,31,"{'weekly': 8, 'stock': 127, 'market': 47, 'rev...",0.055030,0.021893,"{'chinas': 1, 'factory': 1, 'activity': 1, 'pi...",0.023256,0.093023
16,4,1,"{'get': 134, 'ready': 6, 'olympics': 3, 'tokyo...",0.058047,0.024530,"{'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...",0.066148,0.050584
17,4,2,"{'like': 156, 'say': 16, 'would': 6, 'test': 6...",0.066109,0.019872,"{'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...",0.052632,0.017544
18,4,3,"{'join': 192, 'robinhoodapp': 182, 'well': 196...",0.071847,0.019388,"{'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...",0.018634,0.018634
19,4,4,"{'aapl': 913, 'close': 10, 'doesnt': 3, 'need'...",0.078279,0.020628,"{'apple': 8, 'slash': 1, 'homepod': 2, 'price'...",0.008772,0.052632
20,4,5,"{'watch': 14, 'happen': 6, 'naviavatar': 2, 'b...",0.075029,0.018433,"{'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...",0.071066,0.035533
21,4,6,"{'join': 111, 'robinhoodapp': 107, 'well': 109...",0.090644,0.015289,"{'facebook': 1, 'want': 1, 'change': 1, 'consu...",0.062500,0.000000
22,4,7,"{'trade': 68, 'ideasalertsinsightlive': 1, 'pm...",0.083671,0.019729,"{'apple': 4, 'make': 1, 'yet': 1, 'another': 1...",0.102564,0.025641
23,4,8,"{'rampcapitalllc': 2, 'marketwatch': 2, 'like'...",0.072965,0.024522,"{'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...",0.058824,0.058824
24,4,9,"{'sandropower': 4, 'appl': 14, 'another': 2, '...",0.064039,0.049261,"{'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...",0.033493,0.038278
25,4,10,"{'boom': 1, 'appl': 10, 'dapple': 1, 'cnbcfast...",0.037037,0.049383,"{'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...",0.019900,0.049751
26,4,11,"{'join': 188, 'robinhoodapp': 181, 'well': 182...",0.069543,0.020637,"{'inside': 1, 'softbanks': 1, 'push': 2, 'rule...",0.051546,0.030928
27,4,12,"{'stay': 8, 'ahead': 4, 'nasdaq': 10, 'news': ...",0.069129,0.022212,"{'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...",0.037500,0.037500
28,4,13,"{'join': 117, 'robinhoodapp': 112, 'well': 117...",0.085128,0.014021,"{'inside': 1, 'softbanks': 1, 'push': 1, 'rule...",0.000000,0.000000
29,4,14,"{'join': 103, 'robinhoodapp': 96, 'well': 98, ...",0.072834,0.019021,"{'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...",0.000000,0.000000
30,4,15,"{'hey': 2, 'big': 16, 'board': 3, 'might': 11,...",0.060861,0.022959,"{'apple': 8, 'service': 2, 'strategy': 1, 'hit...",0.027397,0.020548
31,4,16,"{'aapl': 1183, 'patent': 68, 'maintenance': 2,...",0.058133,0.020939,"{'tomtom': 1, 'result': 1, 'top': 2, 'estimate...",0.050139,0.027855
32,3,29,NaN,NaN,NaN,"{'friday': 1, 'apple': 5, 'rumor': 1, 'schemat...",0.008850,0.053097

In [379]:
df4= pd.merge(df3,Apple_Data_Stock, how="outer", on=["Month","Day"])

In [380]:
df4

,Month,Day,Tweet_nonstop,pos_parity_tweets,neg_parity_tweets,AAPL_nonstop,pos_parity_news,neg_parity_news,High,Low,Open,Close,Volume,Adj Close
0,3,14,"{'aapl': 740, 'patent': 52, 'automate': 1, 'ca...",0.062987,0.021614,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3,16,"{'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...",0.071613,0.020769,"{'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...",0.034483,0.068966,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995
2,3,17,"{'join': 309, 'robinhoodapp': 303, 'well': 318...",0.078668,0.021075,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995
3,3,18,"{'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...",0.064713,0.019743,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765,188.389999,185.789993,185.800003,188.020004,26219800.0,188.020004
4,3,19,"{'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...",0.076768,0.019804,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077,188.990005,185.919998,188.350006,186.529999,31646400.0,186.529999
5,3,20,"{'join': 346, 'robinhoodapp': 324, 'well': 342...",0.073075,0.016703,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259,189.490005,184.729996,186.229996,188.160004,31035200.0,188.160004
6,3,21,"{'jeffvandenburgh': 2, 'still': 68, 'place': 1...",0.064421,0.021638,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149,196.330002,189.809998,190.020004,195.089996,51034200.0,195.089996
7,3,22,"{'bravotrader': 2, 'algorithms': 2, 'scar': 4,...",0.058980,0.026105,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
8,3,23,"{'powerserious': 4, 'clown': 2, 'must': 4, 'du...",0.078267,0.016360,"{'apples': 2, 'video': 1, 'stream': 1, 'servic...",0.000000,0.000000,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
9,3,24,"{'join': 122, 'robinhoodapp': 120, 'well': 126...",0.056389,0.021434,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.032258,0.129032,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
10,3,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561,191.979996,186.600006,191.509995,188.740005,43845300.0,188.740005
11,3,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938,192.880005,184.580002,191.660004,186.789993,49800500.0,186.789993
12,3,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677,189.759995,186.550003,188.750000,188.470001,29848400.0,188.470001
13,3,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436,"{'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...",0.023256,0.062016,189.559998,187.529999,188.949997,188.720001,20780400.0,188.720001
14,3,30,"{'join': 36, 'robinhoodapp': 37, 'well': 38, '...",0.080386,0.017864,"{'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...",0.021739,0.000000,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
15,3,31,"{'weekly': 8, 'stock': 127, 'market': 47, 'rev...",0.055030,0.021893,"{'chinas': 1, 'factory': 1, 'activity': 1, 'pi...",0.023256,0.093023,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
16,4,1,"{'get': 134, 'ready': 6, 'olympics': 3, 'tokyo...",0.058047,0.024530,"{'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...",0.066148,0.050584,191.679993,188.380005,191.639999,191.240005,27862000.0,191.240005
17,4,2,"{'like': 156, 'say': 16, 'would': 6, 'test': 6...",0.066109,0.019872,"{'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...",0.052632,0.017544,194.460007,191.050003,191.089996,194.020004,22765700.0,194.020004
18,4,3,"{'join': 192, 'robinhoodapp': 182, 'well': 196...",0.071847,0.019388,"{'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...",0.018634,0.018634,196.500000,193.149994,193.250000,195.350006,23271800.0,195.350006
19,4,4,"{'aapl': 913, 'close': 10, 'doesnt': 3, 'need'...",0.078279,0.020628,"{'apple': 8, 'slash': 1, 'homepod': 2, 'price'...",0.008772,0.052632,196.369995,193.139999,194.789993,195.690002,19114300.0,195.690002
20,4,5,"{'watch': 14, 'happen': 6, 'naviavatar': 2, 'b...",0.075029,0.018433,"{'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...",0.071066,0.035533,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
21,4,6,"{'join': 111, 'robinhoodapp': 107, 'well': 109...",0.090644,0.015289,"{'facebook': 1, 'want': 1, 'change': 1, 'consu...",0.062500,0.000000,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
22,4,7,"{'trade': 68, 'ideasalertsinsightlive': 1, 'pm...",0.083671,0.019729,"{'apple': 4, 'make': 1, 'yet': 1, 'another': 1...",0.102564,0.025641,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
23,4,8,"{'rampcapitalllc': 2, 'marketwatch': 2, 'like'...",0.072965,0.024522,"{'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...",0.058824,0.058824,200.229996,196.339996,196.419998,200.100006,25881700.0,200.100006
24,4,9,"{'sandropower': 4, 'appl': 14, 'another': 2, '...",0.064039,0.049261,"{'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...",0.033493,0.038278,202.850006,199.229996,200.320007,199.500000,35768200.0,199.500000
25,4,10,"{'boom': 1, 'appl': 10, 'dapple': 1, 'cnbcfast...",0.037037,0.049383,"{'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...",0.019900,0.049751,200.740005,198.179993,198.679993,200.619995,21695300.0,200.619995
26,4,11,"{'join': 188, 'robinhoodapp': 181, 'well': 182...",0.069543,0.020637,"{'inside': 1, 'softbanks': 1, 'push': 2, 'rule...",0.051546,0.030928,201.000000,198.440002,200.850006,198.949997,20900800.0,198.949997
27,4,12,"{'stay': 8, 'ahead': 4, 'nasdaq': 10, 'news': ...",0.069129,0.022212,"{'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...",0.037500,0.037500,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
28,4,13,"{'join': 117, 'robinhoodapp': 112, 'well': 117...",0.085128,0.014021,"{'inside': 1, 'softbanks': 1, 'push': 1, 'rule...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
29,4,14,"{'join': 103, 'robinhoodapp': 96, 'well': 98, ...",0.072834,0.019021,"{'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
30,4,15,"{'hey': 2, 'big': 16, 'board': 3, 'might': 11,...",0.060861,0.022959,"{'apple': 8, 'service': 2, 'strategy': 1, 'hit...",0.027397,0.020548,199.850006,198.009995,198.580002,199.229996,17536600.0,199.229996
31,4,16,"{'aapl': 1183, 'patent': 68, 'maintenance': 2,...",0.058133,0.020939,"{'tomtom': 1, 'result': 1, 'top': 2, 'estimate...",0.050139,0.027855,201.369995,198.559998,199.460007,199.250000,25696400.0,199.250000
32,3,29,NaN,NaN,NaN,"{'friday': 1, 'apple': 5, 'rumor': 1, 'schemat...",0.008850,0.053097,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
33,3,15,NaN,NaN,NaN,NaN,NaN,NaN,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995

In [386]:
temp_datafile_comb=df4[1:32]

In [387]:
temp_datafile_comb

,Month,Day,Tweet_nonstop,pos_parity_tweets,neg_parity_tweets,AAPL_nonstop,pos_parity_news,neg_parity_news,High,Low,Open,Close,Volume,Adj Close
1,3,16,"{'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...",0.071613,0.020769,"{'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...",0.034483,0.068966,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995
2,3,17,"{'join': 309, 'robinhoodapp': 303, 'well': 318...",0.078668,0.021075,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995
3,3,18,"{'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...",0.064713,0.019743,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765,188.389999,185.789993,185.800003,188.020004,26219800.0,188.020004
4,3,19,"{'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...",0.076768,0.019804,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077,188.990005,185.919998,188.350006,186.529999,31646400.0,186.529999
5,3,20,"{'join': 346, 'robinhoodapp': 324, 'well': 342...",0.073075,0.016703,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259,189.490005,184.729996,186.229996,188.160004,31035200.0,188.160004
6,3,21,"{'jeffvandenburgh': 2, 'still': 68, 'place': 1...",0.064421,0.021638,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149,196.330002,189.809998,190.020004,195.089996,51034200.0,195.089996
7,3,22,"{'bravotrader': 2, 'algorithms': 2, 'scar': 4,...",0.058980,0.026105,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
8,3,23,"{'powerserious': 4, 'clown': 2, 'must': 4, 'du...",0.078267,0.016360,"{'apples': 2, 'video': 1, 'stream': 1, 'servic...",0.000000,0.000000,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
9,3,24,"{'join': 122, 'robinhoodapp': 120, 'well': 126...",0.056389,0.021434,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.032258,0.129032,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003
10,3,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561,191.979996,186.600006,191.509995,188.740005,43845300.0,188.740005
11,3,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938,192.880005,184.580002,191.660004,186.789993,49800500.0,186.789993
12,3,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677,189.759995,186.550003,188.750000,188.470001,29848400.0,188.470001
13,3,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436,"{'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...",0.023256,0.062016,189.559998,187.529999,188.949997,188.720001,20780400.0,188.720001
14,3,30,"{'join': 36, 'robinhoodapp': 37, 'well': 38, '...",0.080386,0.017864,"{'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...",0.021739,0.000000,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
15,3,31,"{'weekly': 8, 'stock': 127, 'market': 47, 'rev...",0.055030,0.021893,"{'chinas': 1, 'factory': 1, 'activity': 1, 'pi...",0.023256,0.093023,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997
16,4,1,"{'get': 134, 'ready': 6, 'olympics': 3, 'tokyo...",0.058047,0.024530,"{'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...",0.066148,0.050584,191.679993,188.380005,191.639999,191.240005,27862000.0,191.240005
17,4,2,"{'like': 156, 'say': 16, 'would': 6, 'test': 6...",0.066109,0.019872,"{'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...",0.052632,0.017544,194.460007,191.050003,191.089996,194.020004,22765700.0,194.020004
18,4,3,"{'join': 192, 'robinhoodapp': 182, 'well': 196...",0.071847,0.019388,"{'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...",0.018634,0.018634,196.500000,193.149994,193.250000,195.350006,23271800.0,195.350006
19,4,4,"{'aapl': 913, 'close': 10, 'doesnt': 3, 'need'...",0.078279,0.020628,"{'apple': 8, 'slash': 1, 'homepod': 2, 'price'...",0.008772,0.052632,196.369995,193.139999,194.789993,195.690002,19114300.0,195.690002
20,4,5,"{'watch': 14, 'happen': 6, 'naviavatar': 2, 'b...",0.075029,0.018433,"{'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...",0.071066,0.035533,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
21,4,6,"{'join': 111, 'robinhoodapp': 107, 'well': 109...",0.090644,0.015289,"{'facebook': 1, 'want': 1, 'change': 1, 'consu...",0.062500,0.000000,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
22,4,7,"{'trade': 68, 'ideasalertsinsightlive': 1, 'pm...",0.083671,0.019729,"{'apple': 4, 'make': 1, 'yet': 1, 'another': 1...",0.102564,0.025641,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000
23,4,8,"{'rampcapitalllc': 2, 'marketwatch': 2, 'like'...",0.072965,0.024522,"{'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...",0.058824,0.058824,200.229996,196.339996,196.419998,200.100006,25881700.0,200.100006
24,4,9,"{'sandropower': 4, 'appl': 14, 'another': 2, '...",0.064039,0.049261,"{'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...",0.033493,0.038278,202.850006,199.229996,200.320007,199.500000,35768200.0,199.500000
25,4,10,"{'boom': 1, 'appl': 10, 'dapple': 1, 'cnbcfast...",0.037037,0.049383,"{'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...",0.019900,0.049751,200.740005,198.179993,198.679993,200.619995,21695300.0,200.619995
26,4,11,"{'join': 188, 'robinhoodapp': 181, 'well': 182...",0.069543,0.020637,"{'inside': 1, 'softbanks': 1, 'push': 2, 'rule...",0.051546,0.030928,201.000000,198.440002,200.850006,198.949997,20900800.0,198.949997
27,4,12,"{'stay': 8, 'ahead': 4, 'nasdaq': 10, 'news': ...",0.069129,0.022212,"{'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...",0.037500,0.037500,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
28,4,13,"{'join': 117, 'robinhoodapp': 112, 'well': 117...",0.085128,0.014021,"{'inside': 1, 'softbanks': 1, 'push': 1, 'rule...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
29,4,14,"{'join': 103, 'robinhoodapp': 96, 'well': 98, ...",0.072834,0.019021,"{'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995
30,4,15,"{'hey': 2, 'big': 16, 'board': 3, 'might': 11,...",0.060861,0.022959,"{'apple': 8, 'service': 2, 'strategy': 1, 'hit...",0.027397,0.020548,199.850006,198.009995,198.580002,199.229996,17536600.0,199.229996
31,4,16,"{'aapl': 1183, 'patent': 68, 'maintenance': 2,...",0.058133,0.020939,"{'tomtom': 1, 'result': 1, 'top': 2, 'estimate...",0.050139,0.027855,201.369995,198.559998,199.460007,199.250000,25696400.0,199.250000

In [427]:
temp_datafile_comb['date_feature']= (temp_datafile_comb['Month']+temp_datafile_comb['Day'])/temp_datafile_comb['Month']
temp_datafile_comb

C:\SAHAJ_1\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Month,Day,Tweet_nonstop,pos_parity_tweets,neg_parity_tweets,AAPL_nonstop,pos_parity_news,neg_parity_news,High,Low,Open,Close,Volume,Adj Close,date_feature
1,3,16,"{'melaynalokosky': 1, 'wintoncapptnrs': 1, 'me...",0.071613,0.020769,"{'battle': 1, 'dividends': 1, 'apple': 3, 'vs'...",0.034483,0.068966,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995,6.333333
2,3,17,"{'join': 309, 'robinhoodapp': 303, 'well': 318...",0.078668,0.021075,"{'forget': 1, 'fitbit': 1, 'huami': 1, 'better...",0.166667,0.000000,187.330002,183.740005,184.850006,186.119995,39042900.0,186.119995,6.666667
3,3,18,"{'watch': 68, 'happen': 6, 'naviavatar': 4, 'b...",0.064713,0.019743,"{'big': 2, 'ipad': 8, 'update': 5, 'reveal': 1...",0.018382,0.036765,188.389999,185.789993,185.800003,188.020004,26219800.0,188.020004,7.000000
4,3,19,"{'de': 6, 'dis': 48, 'mcd': 2, 'nice': 18, 'aa...",0.076768,0.019804,"{'better': 1, 'buy': 2, 'apple': 12, 'vs': 1, ...",0.038462,0.048077,188.990005,185.919998,188.350006,186.529999,31646400.0,186.529999,7.333333
5,3,20,"{'join': 346, 'robinhoodapp': 324, 'well': 342...",0.073075,0.016703,"{'apples': 2, 'new': 4, 'airpods': 5, 'big': 1...",0.014815,0.059259,189.490005,184.729996,186.229996,188.160004,31035200.0,188.160004,7.666667
6,3,21,"{'jeffvandenburgh': 2, 'still': 68, 'place': 1...",0.064421,0.021638,"{'sony': 1, 'pull': 1, 'plug': 1, 'smartphone'...",0.052486,0.033149,196.330002,189.809998,190.020004,195.089996,51034200.0,195.089996,8.000000
7,3,22,"{'bravotrader': 2, 'algorithms': 2, 'scar': 4,...",0.058980,0.026105,"{'tech': 1, 'stock': 10, 'week': 1, 'apple': 1...",0.027907,0.074419,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003,8.333333
8,3,23,"{'powerserious': 4, 'clown': 2, 'must': 4, 'du...",0.078267,0.016360,"{'apples': 2, 'video': 1, 'stream': 1, 'servic...",0.000000,0.000000,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003,8.666667
9,3,24,"{'join': 122, 'robinhoodapp': 120, 'well': 126...",0.056389,0.021434,"{'focusapples': 1, 'iphone': 1, 'struggle': 1,...",0.032258,0.129032,197.690002,190.779999,195.339996,191.050003,42407700.0,191.050003,9.000000
10,3,25,"{'join': 54, 'robinhoodapp': 48, 'well': 66, '...",0.047246,0.030959,"{'apples': 3, 'new': 6, 'service': 6, 'anticip...",0.018717,0.085561,191.979996,186.600006,191.509995,188.740005,43845300.0,188.740005,9.333333
11,3,26,"{'qcom': 74, 'aapl': 1734, 'applequalcomm': 1,...",0.053721,0.031813,"{'problem': 1, 'apples': 5, 'service': 4, 'str...",0.037534,0.050938,192.880005,184.580002,191.660004,186.789993,49800500.0,186.789993,9.666667
12,3,27,"{'apple': 354, 'aapl': 1080, 'long': 24, 'shor...",0.051641,0.030247,"{'stock': 8, 'settle': 1, 'choppy': 1, 'sessio...",0.019900,0.064677,189.759995,186.550003,188.750000,188.470001,29848400.0,188.470001,10.000000
13,3,28,"{'join': 72, 'robinhoodapp': 66, 'well': 77, '...",0.047278,0.029436,"{'apples': 2, 'new': 1, 'stream': 1, 'tv': 1, ...",0.023256,0.062016,189.559998,187.529999,188.949997,188.720001,20780400.0,188.720001,10.333333
14,3,30,"{'join': 36, 'robinhoodapp': 37, 'well': 38, '...",0.080386,0.017864,"{'apple': 3, 'stock': 3, 'get': 1, 'boost': 1,...",0.021739,0.000000,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997,11.000000
15,3,31,"{'weekly': 8, 'stock': 127, 'market': 47, 'rev...",0.055030,0.021893,"{'chinas': 1, 'factory': 1, 'activity': 1, 'pi...",0.023256,0.093023,190.080002,188.539993,189.830002,189.949997,23564000.0,189.949997,11.333333
16,4,1,"{'get': 134, 'ready': 6, 'olympics': 3, 'tokyo...",0.058047,0.024530,"{'apple': 18, 'luxury': 1, 'brand': 1, 'drop':...",0.066148,0.050584,191.679993,188.380005,191.639999,191.240005,27862000.0,191.240005,1.250000
17,4,2,"{'like': 156, 'say': 16, 'would': 6, 'test': 6...",0.066109,0.019872,"{'cirrus': 1, 'logic': 1, 'apples': 3, 'latest...",0.052632,0.017544,194.460007,191.050003,191.089996,194.020004,22765700.0,194.020004,1.500000
18,4,3,"{'join': 192, 'robinhoodapp': 182, 'well': 196...",0.071847,0.019388,"{'pay': 1, 'music': 1, 'stream': 1, 'hit': 1, ...",0.018634,0.018634,196.500000,193.149994,193.250000,195.350006,23271800.0,195.350006,1.750000
19,4,4,"{'aapl': 913, 'close': 10, 'doesnt': 3, 'need'...",0.078279,0.020628,"{'apple': 8, 'slash': 1, 'homepod': 2, 'price'...",0.008772,0.052632,196.369995,193.139999,194.789993,195.690002,19114300.0,195.690002,2.000000
20,4,5,"{'watch': 14, 'happen': 6, 'naviavatar': 2, 'b...",0.075029,0.018433,"{'apple': 5, 'leave': 1, 'cirrus': 1, 'logic':...",0.071066,0.035533,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000,2.250000
21,4,6,"{'join': 111, 'robinhoodapp': 107, 'well': 109...",0.090644,0.015289,"{'facebook': 1, 'want': 1, 'change': 1, 'consu...",0.062500,0.000000,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000,2.500000
22,4,7,"{'trade': 68, 'ideasalertsinsightlive': 1, 'pm...",0.083671,0.019729,"{'apple': 4, 'make': 1, 'yet': 1, 'another': 1...",0.102564,0.025641,197.100006,195.929993,196.449997,197.000000,18526600.0,197.000000,2.750000
23,4,8,"{'rampcapitalllc': 2, 'marketwatch': 2, 'like'...",0.072965,0.024522,"{'intels': 1, 'chip': 1, 'issue': 1, 'hurt': 1...",0.058824,0.058824,200.229996,196.339996,196.419998,200.100006,25881700.0,200.100006,3.000000
24,4,9,"{'sandropower': 4, 'appl': 14, 'another': 2, '...",0.064039,0.049261,"{'dan': 1, 'loeb': 1, 'help': 1, 'sony': 2, 'h...",0.033493,0.038278,202.850006,199.229996,200.320007,199.500000,35768200.0,199.500000,3.250000
25,4,10,"{'boom': 1, 'appl': 10, 'dapple': 1, 'cnbcfast...",0.037037,0.049383,"{'disney': 1, 'disneys': 1, 'pivot': 1, 'tech'...",0.019900,0.049751,200.740005,198.179993,198.679993,200.619995,21695300.0,200.619995,3.500000
26,4,11,"{'join': 188, 'robinhoodapp': 181, 'well': 182...",0.069543,0.020637,"{'inside': 1, 'softbanks': 1, 'push': 2, 'rule...",0.051546,0.030928,201.000000,198.440002,200.850006,198.949997,20900800.0,198.949997,3.750000
27,4,12,"{'stay': 8, 'ahead': 4, 'nasdaq': 10, 'news': ...",0.069129,0.022212,"{'amazon': 2, 'wade': 1, 'data': 1, 'privacy':...",0.037500,0.037500,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995,4.000000
28,4,13,"{'join': 117, 'robinhoodapp': 112, 'well': 117...",0.085128,0.014021,"{'inside': 1, 'softbanks': 1, 'push': 1, 'rule...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995,4.250000
29,4,14,"{'join': 103, 'robinhoodapp': 96, 'well': 98, ...",0.072834,0.019021,"{'apple': 1, 'suppliers': 1, 'rescue': 1, 'lea...",0.000000,0.000000,200.139999,196.210007,199.199997,198.869995,27760700.0,198.869995,4.500000
30,4,15,"{'hey': 2, 'big': 16, 'board': 3, 'might': 11,...",0.060861,0.022959,"{'apple': 8, 'service': 2, 'strategy': 1, 'hit...",0.027397,0.020548,199.850006,198.009995,198.580002,199.229996,17536600.0,199.229996,4.750000
31,4,16,"{'aapl': 1183, 'patent': 68, 'maintenance': 2,...",0.058133,0.020939,"{'tomtom': 1, 'result': 1, 'top': 2, 'estimate...",0.050139,0.027855,201.369995,198.559998,199.460007,199.250000,25696400.0,199.250000,5.000000

In [429]:
temp_datafile_comb=temp_datafile_comb.drop(["Month","Day","Tweet_nonstop","AAPL_nonstop","High","Low","Open","Volume","Adj Close"], axis=1)

In [430]:
temp_datafile_comb

,pos_parity_tweets,neg_parity_tweets,pos_parity_news,neg_parity_news,Close,date_feature
1,0.071613,0.020769,0.034483,0.068966,186.119995,6.333333
2,0.078668,0.021075,0.166667,0.000000,186.119995,6.666667
3,0.064713,0.019743,0.018382,0.036765,188.020004,7.000000
4,0.076768,0.019804,0.038462,0.048077,186.529999,7.333333
5,0.073075,0.016703,0.014815,0.059259,188.160004,7.666667
6,0.064421,0.021638,0.052486,0.033149,195.089996,8.000000
7,0.058980,0.026105,0.027907,0.074419,191.050003,8.333333
8,0.078267,0.016360,0.000000,0.000000,191.050003,8.666667
9,0.056389,0.021434,0.032258,0.129032,191.050003,9.000000
10,0.047246,0.030959,0.018717,0.085561,188.740005,9.333333
11,0.053721,0.031813,0.037534,0.050938,186.789993,9.666667
12,0.051641,0.030247,0.019900,0.064677,188.470001,10.000000
13,0.047278,0.029436,0.023256,0.062016,188.720001,10.333333
14,0.080386,0.017864,0.021739,0.000000,189.949997,11.000000
15,0.055030,0.021893,0.023256,0.093023,189.949997,11.333333
16,0.058047,0.024530,0.066148,0.050584,191.240005,1.250000
17,0.066109,0.019872,0.052632,0.017544,194.020004,1.500000
18,0.071847,0.019388,0.018634,0.018634,195.350006,1.750000
19,0.078279,0.020628,0.008772,0.052632,195.690002,2.000000
20,0.075029,0.018433,0.071066,0.035533,197.000000,2.250000
21,0.090644,0.015289,0.062500,0.000000,197.000000,2.500000
22,0.083671,0.019729,0.102564,0.025641,197.000000,2.750000
23,0.072965,0.024522,0.058824,0.058824,200.100006,3.000000
24,0.064039,0.049261,0.033493,0.038278,199.500000,3.250000
25,0.037037,0.049383,0.019900,0.049751,200.619995,3.500000
26,0.069543,0.020637,0.051546,0.030928,198.949997,3.750000
27,0.069129,0.022212,0.037500,0.037500,198.869995,4.000000
28,0.085128,0.014021,0.000000,0.000000,198.869995,4.250000
29,0.072834,0.019021,0.000000,0.000000,198.869995,4.500000
30,0.060861,0.022959,0.027397,0.020548,199.229996,4.750000
31,0.058133,0.020939,0.050139,0.027855,199.250000,5.000000

In [431]:
import statsmodels.formula.api as sm
from sklearn import linear_model
import matplotlib.pyplot as plt
plt.style.use("ggplot")
%matplotlib inline
plt.rcParams['figure.figsize'] = (10,10)

In [432]:
comb_model1 = sm.ols(formula="Close ~  pos_parity_news+pos_parity_tweets+neg_parity_tweets+ neg_parity_news+date_feature", data=temp_datafile_comb).fit()

In [433]:
comb_model1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                            OLS Regression Results
==============================================================================
Dep. Variable:                  Close   R-squared:                       0.557
Model:                            OLS   Adj. R-squared:                  0.468
Method:                 Least Squares   F-statistic:                     6.279
Date:                Fri, 19 Apr 2019   Prob (F-statistic):           0.000666
Time:                        00:05:35   Log-Likelihood:                -80.561
No. Observations:                  31   AIC:                             173.1
Df Residuals:                      25   BIC:                             181.7
Df Model:                           5
Covariance Type:            nonrobust
=====================================================================================
                        coef    std err          t      P>|t|      [0.025      0.975]
-------------------------------------------------------------------------------------
Intercept           202.1846      9.333     21.662      0.000     182.962     221.407
pos_parity_news     -34.5090     20.978     -1.645      0.112     -77.713       8.695
pos_parity_tweets   -27.8067     93.555     -0.297      0.769    -220.486     164.873
neg_parity_tweets    90.6754    118.202      0.767      0.450    -152.766     334.117
neg_parity_news     -33.7413     27.863     -1.211      0.237     -91.126      23.644
date_feature         -1.0776      0.243     -4.435      0.000      -1.578      -0.577
==============================================================================
Omnibus:                        4.795   Durbin-Watson:                   0.908
Prob(Omnibus):                  0.091   Jarque-Bera (JB):                1.924
Skew:                          -0.221   Prob(JB):                        0.382
Kurtosis:                       1.863   Cond. No.                     1.43e+03
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[2] The condition number is large, 1.43e+03. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [452]:
X_x=temp_datafile_comb[['pos_parity_news','pos_parity_tweets','neg_parity_tweets','neg_parity_news','date_feature']]
Y_y=temp_datafile_comb['Close']

In [458]:
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn import metrics
X_train, X_test, y_train, y_test = train_test_split(X_x, Y_y, test_size=0.3, random_state=0)
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train, y_train)
y_pred = regressor.predict(X_test)
#print(metrics.accuracy_score(y_true=y_test, y_pred= y_pred))
#scores = cross_val_score(estimator=regressor, X=X_test, y=y_test, cv=10, scoring='accuracy')
#print(scores)

In [459]:
y_pred = regressor.predict(X_test)
print('Linear Regression R squared": %.4f' % regressor.score(X_test, y_test))

Linear Regression R squared": 0.4979

In [460]:
from sklearn.ensemble import RandomForestRegressor
forest_reg = RandomForestRegressor(random_state=42)
forest_reg.fit(X_train, y_train)

C:\SAHAJ_1\lib\site-packages\sklearn\ensemble\forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
           oob_score=False, random_state=42, verbose=0, warm_start=False)

In [465]:
print('Random Forest R squared": %.4f' % forest_reg.score(X_test, y_test))
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
import numpy as np

Random Forest R squared": 0.9423

### APPLIED ML